.basement {
    display: flex;
    min-height: 374px;
    width: 100%;
    padding-top: 75px;
    margin-top: 60px;
}

.basementCompanyBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.basementCompanyBlock::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url('./../images/drop_zone_footer.png');
  background-size: 317px;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(15deg);
  z-index: -1;
}

.companyName {
    font-family: var(--font-headBold);
    font-size: 32px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin-right: 34px;
}

.copyright {
    font-family: var(--font-textRegular);
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(101, 101, 101, 1);
}
