%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

%flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

%pageBlock {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.battles {
    @extend %flexStart;
    flex-direction: column;
    max-width: 1800px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.faqTitleCnt {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 59px;
}

.mnBattlesPage {
    @extend %pageBlock;
    height: 100px;
    width: 100%;
}
.mnBattlesStuffCnt {
    @extend %pageBlock, %flexStart;
    flex-direction: column;
    padding: 15px 25px 25px 25px;
    width: 100%;
    height: 602px;
    margin-top: 70px;
}
.mnHeadBlock {
    @extend %flexStart;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.mnHeadCard {
    @extend %flexStart;
    align-items: center;
    height: 42px;
}

.mnHeadImgBlock {
    @extend %flexCenter;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    img {
        object-fit: contain;
    }
}

.mnHeadInfoBlock {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mnHeadInfoType, .mnHeadInfoAmount {
    font-family: var(--font-headRegular);
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.mnHeadInfoAmount {
    font-size: 24px;
    line-height: 24px;
}

.mnHeadInfo {
    @extend %flexStart;
    max-width: 824px;
    width: 100%;
    justify-content: space-between;
    margin-right: 25px;
}
.mnHeadInfoCnt {
    margin-right: 10px;
    min-width: fit-content;
}
.mnHeadInfoCnt:last-child {
    margin-right: 0px;
}

.mnHeadBtnRules {
    border-color: rgba(255, 148, 0, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding: 7px 14px;
    color: rgba(255, 255, 255, 1);
    height: 46px;
    font-size: 24px;
    line-height: 24px;
    font-family: var(--font-headBold);
    padding-bottom: 12;
    &:hover {
       background-color: rgba(255, 169, 49, 0.3);
    }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

    &:active {
        background-color: rgba(255, 150, 53, 1);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(174, 174, 174, 1);
    }
}

.mnHeadBtnGroup, .mnHeadBtnGroupMobile {
    @extend %flexCenter
}
.mnHeadBtnGroupMobile{
    display: none;
}
.mnHeadBtnRulesCnt {
    margin-right: 20px;
}
.contractsHeadBtnRulesCnt {
    margin-right: 0px;
}

.mnStuffTitle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
    margin-bottom: 25px;
}


.mnStuffCnt {
    @extend %flexStart;
    flex-direction: column;
    height: 100%;
    // flex: 1;
    width: 100%;
    overflow: auto;
    row-gap: 40px;
    padding-right: 10px;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 75, 75, 1) transparent;
}

.crModalCaseStore {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(287px, 1fr)); /* колонки растягиваются по ширине контейнера */
    grid-auto-rows: min-content; /* высота строк под контент */
    gap: 25px; /* row-gap и column-gap */
    width: 100%;
    height: 100vh; /* или 100% родителя */
    overflow: auto;
    row-gap: 40px;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 75, 75, 1) transparent;
}

// Chrome, Safari, Edge
.mnStuffCnt::-webkit-scrollbar, .crModalCaseStore::-webkit-scrollbar {
  width: 5px;
}

.mnStuffCnt::-webkit-scrollbar-track, .crModalCaseStore::-webkit-scrollbar-track {
  background: transparent;

}

.mnStuffCnt::-webkit-scrollbar-thumb, .crModalCaseStore::-webkit-scrollbar-thumb  {
  background: rgba(75, 75, 75, 1);
  border-radius: 10px;
}

.mnStuffCnt::-webkit-scrollbar-button, .crModalCaseStore::-webkit-scrollbar-button  {
  display: none;  // стрелки убираем
  width: 0;
  height: 0;
}

.abcCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    flex-shrink: 0;
}

.abcSeparator {
    width: 100%;
    border-bottom: 1px solid rgba(255, 148, 0, 0.5);
}

.abcDataCnt {
    @extend %flexCenter;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    width: 100%;
}

.abcBattleRounds {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    height: 54px;
    padding: 4px 10px 10px 10px;
    border: 1px solid rgba(255, 148, 0, 0.5);
    border-radius: 7px;
    margin-right: 50px;
}

.abcRoundsAmount, .abcRoundsTxt , .abcCardPriceBlock {
    font-family: var(--font-headRegular);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.abcRoundsTxt {
    line-height: 12px;
    font-size: 12px;
}

.abcContainersInfo {
    @extend %flexCenter;
    margin-right: 25px
}

.abcBlockCaseImg {
    @extend %flexCenter;
    position: relative;
    margin-right: 35px;
    height: 83px;
    width: 76px;
    img {
        max-height: 76px;
        object-fit: contain;
    }
    &:last-child {
        margin-right: 0px
    }
}

.abcContainersImages {
    @extend %flexCenter;
    min-width: fit-content;
}

.abcMainInfo {
    @extend %flexCenter;
    min-width: fit-content;
    justify-content: space-between;
    max-width: 934px;
    width: 100%;
    margin-right: 50px;
    height: 100%;
}

.abcCardPriceBlock {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
    height: 100%;
}

.abcCardPriceTitle {
    font-size: 20px;
    line-height: 100%;
}

.abcCardPrice {
    font-size: 24px;
    line-height: 100%;
    height: 100%;
    width: fit-content;
}

.abcCardPriceBlock {
    max-height: 60px;
}

.abcPlayerInfo {
    @extend %flexEnd;
    align-items: center;
    min-width: fit-content;
}

.abcCardPrice {
    height: fit-content;
}

.cardPlayers {
    @extend %flexCenter;
    position: relative;   // обязательно для fill
    width: auto;          // ширина будет по содержимому
    height: 54px;         // максимальная высота блока
    flex-shrink: 0;
    width: 46px;
    border-radius: 7px;
    margin-right: 20px;
    img {
        object-fit: contain;  // сохраняем пропорции
        height: 100%;         // растягиваем по высоте родителя
        width: auto;
        border-radius: 7px;
    }
    &:last-child {
        margin-right: 0px
    }
}

.abcCardPlayerCnt {
    @extend %flexEnd;
    margin-right: 40px;
}

.gameSetupPanel {
    @extend %pageBlock, %flexStart;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0px 25px;
    margin-bottom: 70px;
}

.gspPlayerInfoBlock {
    @extend %flexStart;
    align-items: center;
    height: 100%;
}

.gspPlayerImgCntMobile {
    display: none;
    @extend %flexCenter;
    height: 100%;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    position: relative;
    img {
        object-fit: contain;
    }
}

.gspPlayerImgCnt {
    @extend %flexCenter;
    height: 100%;
    margin-right: 25px;
    height: 45px;
    width: 45px;
    position: relative;
    img {
        object-fit: contain;
    }
}

.gspPlayerAmountCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
}

.gspPlayerAmountTxt {
    font-family: var(--font-headRegular);
    font-size: 15px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.gspPlayerBtn {
    @extend %flexCenter;
    height: 40px;
    border: 1px solid rgba(255, 148, 0, 1);
    padding: 0px 13px;
    border-radius: 7px;
    font-family: var(--font-headBold);
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 169, 49, 0.3);
    }
    &:active {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 150, 53, 1);
    }
    &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(174, 174, 174, 1);
    }
}

.setActiveBtn {
    background-color: rgba(255, 150, 53, 1);
    color: rgba(0, 0, 0, 1);
}

.gspPlayerBtn:last-child {
    margin-right: 0px;
}

.gspPlayerCnt {
    @extend %flexCenter;

}

.gspPlayerBtnGroup {
    @extend %flexStart;
}

.gbciCnt {
    @extend %flexStart;
    height: 331px;
    width: 100%;
}

.gbciAddCaseBlock {
    @extend %flexCenter, %pageBlock;
    position: relative;
    width: 100%;
    height: 331px;
    // flex: 0 1 auto;
    min-width: fit-content;
    border-radius: 0px;
    overflow: hidden;
    margin-left: 0px;
    cursor: pointer;
}

.gbciAddCaseBlockCnt {
    @extend %flexStart;
    // flex: 0 1 auto;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    margin-right: 20px;
    justify-content: space-between;
}

.gbciCaseBlock {
    @extend %flexStart;
    width: 100%;
    height: 100%;
   // адаптивно, но не больше 287px
}

.gbciSvgBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gbcipCaseInfoBlock {
    @extend %flexStart;
    min-width: fit-content;
    // flex: 1 1 auto;
    max-width: 682;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 50px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, rgba(255, 143, 45, 0) 41.85%, rgba(255, 143, 45, 0.15) 100%);
}

.gbcipCaseAmountBlock, .gbcipCaseDefenitionsBlock {
    @extend %flexStart;
    justify-content: space-between;
    flex-direction: column;
    height: 109px;
}

.gbcipCaseAmountBlock {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    color: rgba(229, 133, 0, 1);
    margin-right: 30px;
}

.gbcipCaseDefenitionsBlock {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
}

.gbciAddBtn {
    @extend %flexCenter;
    justify-content: space-between;
    flex-direction: column;
    height: 148px;
    width: fit-content;
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 36px;
    color:rgba(223, 223, 223, 1);
}

.gbciCaseBlockCnt {
    height: 331px;
    max-width: 287px;
    width: 100%;
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
}

.gbciAddCaseBlockCnt_around {
    justify-content: space-around;
}

//case start

.CbBattleCase {
    @extend %flexCenter;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.cbCaseImgCnt {
    @extend %flexCenter;
    position: relative;
    max-width: 197px;
    width: 100%;
    height: 181px;
    .cbCaseImg {
        object-fit: contain;
    }
}

.cbCaseName, .cbCasePrice {
    font-family: var(--font-headBold);
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.cbCasePrice {
    color: rgba(229, 133, 0, 1);
}

.cbCaseAmountCalc {
    @extend %flexCenter;
}

.cbCaseAddition, .cbCaseSubtraction {
    @extend %flexCenter;
    height: 24px;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 1);
    font-family: var(--font-textRegular);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
}

.cbCaseAmount {
    @extend %flexCenter;
    color: rgba(255, 255, 255, 1);
    line-height: 18px;
    font-size: 18px;
    margin: 0px 15px;
    font-family: var(--font-textRegular);
}

.mnHeadBtnCaseCnt {
    width: 100%;
}

.mnHeadBtnCase {
    font-size: 18px;
    font-family: var(--font-headBold);
    height: 38px;
    line-height: 18px;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 0px;
}



//case finished
// modal start

.crModalCnt {
    @extend %flexStart;
    flex-direction: column;
    align-items: center;
    padding: 35px 55px 40px 55px;
    max-width: 1031px;
    width:  100vw;
    max-height: 1009px;
    height:  100vh;
    justify-content: space-between;
}

.crModalHeadCnt {
    width: 100%;
}

.crModalHead {
    @extend %flexCenter;
    height: 53px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px
}

.crModalTitle {
    @extend %flexCenter;
    height: 100%;
    font-family: var(--font-headBold);
    font-size: 36px;
    color: rgba(250, 250, 250, 1);
    padding-bottom: 7px;
}

.crModalSeparator {
    position: relative;
    max-width: 259px;
    height: 2;
}

.crModalSort {
    margin-left: 30px;
}

.btlSearchBlock {
    @extend %flexCenter;
    height: 53px;
    padding: 0px 45px 0px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: fit-content;
    width: 156px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('/images/upgrade_search.svg');
        background-repeat: no-repeat;
        right: 20px;
    }
}

.btlSearchInput {
  flex: 1;              /* займёт всю доступную ширину внутри flex */
  width: 100%;          /* вместо inherit */
  min-width: 0;         /* обязательно для flex, чтобы не вылазил */
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  outline: none;
}


.btlSearchInput::placeholder {
    font-family: var(--font-textBold);
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.4);
}

.crModalFilter {
    @extend %flexStart;
}

.crModalCaseStore {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 5px;
    width: 100%;
    max-height: 761px;
    height: 100vh;
}

.crModalAdditionalData {
    @extend %flexCenter;
    height: 46px;
}
.crModalAdditionalDataMobile{
    @extend %flexStart;
    justify-content: space-between;
    align-items: center;
    display: none;
    height: 27px;
    margin-top: 20px;
    width: 100%;
    .gspPlayerPriceModalBlockMobile, .crModalConfirmCntMobile, .gbcipCaseDefenitionsBlock, .gbcipCaseAmountBlock{
        height: 30px;
    }
    .gbcipCaseAmountBlock {
        color: rgba(255, 195, 0, 1);
    }
    .crModalConfirmCntMobile {
        @extend %flexCenter;
        font-family: var(--font-headBold);
        font-size: 11px;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 148, 0, 1);
        border-radius: 7px;
        cursor: pointer;
        padding: 0 15px;
        &:hover {
        background-color: rgba(255, 169, 49, 0.3);
        }

        &:active {
            background-color: rgba(255, 150, 53, 1);
        }

        &:disabled {
            color: rgba(255, 255, 255, 0.5);
            background-color: rgba(174, 174, 174, 1);
        }
    }
}
.crModalTotalPrice {
    @extend %flexCenter;
}

.crModalPriceTxtDescr {
    font-family: var(--font-textRegular);
    font-size: 18px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.75);
}

.crModalPriceAmount {
    font-family: var(--font-textRegular);
    font-size: 22px;
    color: rgba(255, 195, 0, 1);
}

.crModalConfirmCnt {
    @extend %flexCenter;
    margin: 0px 40px;
}

.crModalCard {
    height: 345px;
    max-width: 287px;
    width: 100%;
    .CbBattleCase {
        padding-top: 27px;
        padding-bottom: 27px;
    }
}
//modal finished

.cbhCnt {
    @extend %pageBlock, %flexCenter;
    justify-content: space-between;
    padding: 0px 25px;
    width: 100%;
    height: 100px;
}

.CbhPriceInfo {
    @extend %flexStart;

    justify-content: space-between;
    height: 55px;
}

.CbhPriceInfoCnt {
     @extend %flexStart;
}
.CbhPriceInfoData {
    font-family: var(--font-headRegular);
    font-size: 20px;
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(223, 223, 223, 1);
    height: 100%;
}

.CbhPriceAndAmount {
    color: rgba(229, 133, 0, 1);
    margin-right: 20px;
}

.cbhGameState {
    @extend %flexCenter;
    font-family: var(--font-headRegular);
    color: rgba(223, 223, 223, 1);
    font-size: 20px;
    height: 82px;
    padding: 0px 25px;
    border-radius: 10px;
    border: 1px solid rgba(229, 133, 0, 1);
    flex-direction: column;
    flex: 0 0 auto;
}

.cbhGameCases {
    @extend %flexCenter;
    justify-content: space-between;
    padding-left: 20px;
    height: 100%;
}

.cbhHeadSideblock {
    flex: 1;
}

.cbhGameCasesCnt {
    @extend %flexCenter;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-right: 15px
}

.cbhGameActiveCases {
    @extend %flexCenter;
    position: relative;
    width: 84px;

    height: 76px;
    margin-right: 20px;
    padding: 0px 2px;
    img {
        height: 73px;
        object-fit: contain;
    }
    &:last-child {
        margin-right: 0px
    }
}

.cbhCurrentRound {
    border: 1px solid rgba(229, 133, 0, 1);
    border-radius: 10px;
}

.bgfCnt {
    @extend %flexCenter;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
    margin-top: 70px;
}

.bpbCnt {
    @extend %flexStart, %pageBlock;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 492px;
    padding: 20px 50px 40px 50px;;
}

.bpbPlayerProfileInfo {
    @extend %flexCenter;
    justify-content: flex-start
}

.bpbPlayerFieldCnt {
    @extend %flexCenter;
    justify-content: space-between;
    width: 100%;
    height: 77px;
    background-color: rgba(53, 53, 61, 1);
    border-radius: 10px;
    padding: 0px 30px;
}


.bpbPlayerProfileImgCnt {
    @extend %flexCenter;
    height: 45px;
    width: 52px;
    margin-right: 22px;
    position: relative;
    img {
        object-fit: contain;
        border: 2px solid rgba(255, 148, 0, 1);
        border-radius: 7px;
        width: fit-content !important;
    }
}

.bpbPlayerProfileName, .bpbPlayerWonPrice, .bstStateTitle {
    font-family: var(--font-headBold);
    font-size: 20px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.bpbPlayerWonPrice {
    color: rgba(229, 133, 0, 1);
}

.bpbPlayerFieldCntLose {
    box-shadow: 0px 0px 50px 0px rgba(124, 9, 9, 1);
}

.bstCnt {
    @extend %flexCenter;
    flex: 1;
    width: 100%;
}

.bstStateCnt {
    @extend %flexStart;
    flex-direction: column;
    align-items: center;
}

.bstStateTitle {
    margin-top: 20px;
}

.bstStateImgCnt {
    height: 115px;
    width: 115px;
    position: relative;
}

.swiperCnt {
    width: 100%;
    height: 100%;
}

.bpbBlock {
    max-width: 623px;
    width: 100%;
}


// .bstCnt {
//     width: 100%;
//     height: 300px;
//     margin: 0 auto;
// }

.swiperCnt {
    width: 100%;
    height: 100%;
}

.battleSwiperSlide {
    @extend %flexCenter;
    height: 107px !important;
}

.brcSliderSwiper {
    width: 100%;
    height: 100%;
}

.swiperCnt {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.bstCntRoulet {
    @extend %flexStart;
    width: 100%;
    max-height: 325px;
    margin: 0 auto;
}


.battleSwiperSlideContentCnt {
    @extend %flexCenter;
}

.threePlayerCnt, .fourPlayerCnt {
    max-width: 1360px;
    .bpbBlock {
         max-width: 407px;
         width: 100%;
        .bpbCnt {
            height: 414px;
            padding: 30px 33px;

            .bpbPlayerFieldCnt {
                padding: 0px 20px;
            }
            .bpbPlayerProfileImgCnt {
                margin-right: 15px;
            }
            .bpbPlayerProfileName {
                font-size: 17px;
            }
            .bstCntRoulet  {
                max-height: 247px;
            }
            .bstStateTitle {
                margin-top: 15px;
            }
            .bstStateImgCnt {
                height: 68px;
                width: 68px;
            }
        }
    }
}

.fourPlayerCnt {
    max-width: 100%;
}

.contractsHeadBtnRulesCnt {
    width: 100%;
    margin-right: 0px;
}
.contractsMnHeadBtnRules {
    width: 100%;
}

.bpbItemsCnt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr)); /* колонки растягиваются по ширине контейнера */
    grid-auto-rows: min-content; /* высота строк под контент */
    gap: 25px; /* row-gap и column-gap */
    width: 100%;
    height: 100vh; /* или 100% родителя */
    overflow: auto;
}

:global(.bcmwCnt) .mnHeadBtnRulesCnt {
    margin-right: 0px;
}

.gspPlayerPriceBlockMobile {
    display: none;
}

.gbcipBtnMobileGroup div {
    flex: 1;
}
.gbcipBtnMobileGroup .mnHeadBtnRulesCntClean:first-child {
    margin-right: 11px !important;
}
.gbcipBtnMobileGroup button {
    width: 100%;
}
.gbcipBtnMobileGroup {
    margin-top: 20px;
}

.gbcipBtnMobileGroup {
    display: none;
}
.gbciAddBtnCrossCnt {
    position: relative;
    width: 80px;
    height: 80px;
    img {
        object-fit: contain;
    }
}
.crModalSeparatorMobile {
    display: none;
}

.bpMobileRules {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    .mnBattlesPage {
        padding: 0px;
        height: fit-content;
        max-height: none;
        min-height: none;
        padding: 20px;
    }
    margin-bottom: 20px;
}

.mnAuthMock {
    @extend %flexCenter;
    width: 100%;
    height: 100%;
}

.abcCardPriceButtonMobile {
    display: none;
}
.abcPlayerInfoMobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.abcContainersImagesMobile {
    display: none;
}

.cardPlayersImgMobile{
    display: none;
}
.bpbPlayerProfileInfoWaiting {
    @extend %flexCenter;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-family: var(--font-headBold);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1439px) {

    .bpMobileRules {
        display: flex;
    }

    .gbciCaseBlockCnt:last-child {
        margin-right: 0px;
    }
    .gbciAddCaseBlockCnt {
        margin-right: 0px;
    }
    .gbcipCaseInfoBlock {
        margin-top: 20px;
    }
    .mnHeadPcRulesModal {
        display: none;
    }
    .gbciCnt {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 1200px) {
    .abcCardPriceButton {
        display: none;
    }

    .abcPlayerInfoMobile {
        justify-content: flex-end;
        align-items: center;
    }

    .abcCardPriceButtonMobile {
        display: flex;
        margin: 20px 0px;
        margin-top: 15px;
    }
    .abcCardPriceButtonMobile   button {
        padding: 0 50px;
    }

    .abcCardPlayerCnt {
        margin-right: 0px;
    }
    .abcBattleRounds {
        margin-right: 20px;
    }
    .abcCnt {
        height: fit-content;
    }
}

@media (max-width: 1024px) {
    .abcPlayerInfoMobile {
        justify-content: space-between;
    }
    .mnStuffTitle {
        font-size: 24px;
        line-height: 100%;
    }
    .abcCardPriceButtonMobile {
        margin: 0px;
    }

    .abcPlayerInfoMobile {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .abcContainersImages {
        display: none;
    }
    .abcContainersImagesMobile {
        display: flex;
    }
    .abcMainInfo {
        width: 35%;
    }
    .mnBattlesPage {
        min-height: 100px;
        max-height: 190px;
        padding-top: 35px;
        padding-bottom: 35px;
        height: fit-content;
    }
    .mnHeadInfoCnt {
        margin-right: 0px;
    }
    .mnHeadInfo {
        margin-right: 0px;
        max-width: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        column-gap: 35px;
    }
    .mnHeadBtnGroup {
        display: none;
    }
    .mnHeadBtnGroupMobile {
        div {

            width: 100%;
            justify-content: center;
            align-items: center;
        }
        a {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button, a  {

            width: 100%;
        }
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .mnHeadBtnRulesCntClean button {
        font-size: 19px;
        line-height: 19px;
    }
    :global(.bcmwCnt)  .mnHeadBtnRulesCnt, .mnHeadBtnRules {
        height: 38px;
    }
    :global(.bcmwCnt)  .mnHeadBtnRules {
        font-size: 19px;
        line-height: 19px;
    }
    .gspPlayerBtn {
        font-size: 16px;
        padding: 0 13px;
        height: 35px;
        margin-right: 15px;
    }
    .gspPlayerImgCnt {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
    .gameSetupPanel {
        height: 95px;
    }
    .gspPlayerAmountCnt {
        height: 60px;
    }
    .mnStuffTitle {
        margin-top: 1;
    }
}

@media (max-width: 768px) {
    .mnBattlesStuffCnt{
        padding-right: 10px;
        padding-left: 10px;
    }
    .abcCardPriceButtonMobile button {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 20px;
        width: 100%;
    }
    .mnStuffCnt .abcCnt {
        overflow: visible;
    }
    .abcCardPriceButtonMobile a {
        width: 100%;
    }
    .abcCardPriceButtonMobile {
        width: 100%;
    }
    .abcContainersImagesMobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .abcPlayerInfoMobile {
        flex-direction: column;
    }
    .abcBlockCaseImg {
        margin-right: 5px;
        width: 100%;
        height: 80px;
        width: 73px;
    }
    .cardPlayersImgPc {
        display: none;
    }
    .cardPlayersImgMobile {
        display: block;
    }
    .cardPlayers {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .cardPlayers:last-child {
        margin-right: 0px;
    }
    .abcContainersInfo, .abcMainInfo {
        margin-right: 5px;
    }
    .mnStuffTitle {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .abcDataCnt {
        height: 45px;
    }
    .abcRoundsAmount {
        font-size: 16px;
        line-height: 16px;
    }
    .abcRoundsTxt {
        font-size: 8px;
        line-height: 8px;
    }
    .abcBattleRounds {
        height: 45px;
        padding: 7px 10px;
        padding-bottom: 8px;
        margin-right: 0px;
    }
    .abcCardPriceBlock {
        height: 34px;
    }
    .abcCardPriceTitle {
        font-size: 13px;
        line-height: 100%;
    }
    .abcCardPrice {
        line-height: 100%;
        font-size: 15px;
    }
    .mnHeadBtnGroupMobile {
        margin-top: 10px;
    }
    .mnHeadInfoType {
        font-size: 13px;
        line-height: 100%;
    }
    .mnHeadInfoAmount {
        font-size: 24px;
        line-height: 100%;
    }
    .mnHeadImgBlock {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    .mnHeadCard {
        height: 34px;
        width: fit-content;
    }
    .mnHeadBlock {
        padding: 0px;
    }
    .mnBattlesPage {
        border-radius: 5px;
        padding: 23px 7px;
        max-height: none;
        min-height: none;
        height: fit-content;
    }
    .mnHeadInfo {
        display: flex;
        flex-wrap: wrap; /* позволяет переносить элементы на следующую строку */
        gap: 16px;       /* расстояние между элементами (по желанию) */
        column-gap: 3px;
    }

    .mnHeadInfo > * {
        flex: 0 0 calc(50% - 8px); /* ширина примерно половина контейнера минус половина gap */
        box-sizing: border-box;     /* чтобы padding/margin не ломали ширину */
    }
    .bpMobileRules {
        .mnBattlesPage {
            padding: 15px;
        }
    }
    .crModalAdditionalData {
        display: none;
    }
    .crModalAdditionalDataMobile {
        display: flex;
    }
    .crModalCaseStore{
        grid-template-columns: repeat(auto-fill, minmax(102px, 1fr)); /* колонки растягиваются по ширине контейнера */
        gap: 10px; /* row-gap и column-gap */
        row-gap: 15px;
    }
    .btlSearchBlock {
        width: 97px;
        height: 33px;
        order: 2;
        border-radius: 5px;
        padding: 0px 27px 0px 15px;
    }
    .btlSearchInput {
        font-size: 14px;
    }
    .btlSearchInput::placeholder {
        font-size: 14px;
    }
    .btlSearchBlock::after{
        width: 10px;
        height: 10px;
        right: 15px;
        background-size: contain;
    }
    .crModalSort{
        margin-left: 0px;
        margin-right: 5px;
    }
    .crModalSeparatorMobile {
        display: block;
        width: 155px;
        height: 1px;
        position: relative;
        margin-bottom: 15px;
        img {
            object-fit: contain;
        }
    }
    .crModalCnt {
        padding: 40px 25px 30px 20px;
        height: 100vh;
    }
    .crModalTitle {
        font-size: 16px;
        padding-bottom: 4px;
    }
    .crModalSeparator {
        display: none;
    }
    .crModalFilter {
        align-items: center;
    }
    .crModalHead {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        margin-bottom: 20px;
    }
    .cbCaseAmount {
        font-size: 15px;
        line-height: 100%;
        margin: 0px 9px;
    }
    .cbCaseName {
        margin-top: 4px;
        font-size: 10px;
        line-height: 100%;
    }
    .cbCasePrice {
        font-size: 10px;
        line-height: 100%;
        margin-top: 5px;
    }
    .cbCaseAmountCalc {
        margin-top: 6px;
    }
    .cbCaseAddition, .cbCaseSubtraction {
        font-size: 15px;
        line-height: 100%;
        padding: 0 4px;
        height: 15px;
        border-radius: 2px;
        padding-top: 2px;
    }
    .CbBattleCase {
        height: 146px;
        padding: 10px;
        max-width: 102px;
        border-radius: 5px;
    }
    .crModalCard {
        height: 146px;
        max-width: 102px;
        .CbBattleCase {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .mnHeadBtnCaseCnt {
            margin-top: 6px;
        }
        .mnHeadBtnCase, .mnHeadBtnCaseCnt {
            height: 15px;
            font-size: 7px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .gbciCaseBlockCnt {
        max-width: 102px;
        height: 146px;
        margin-right: 10px;
    }
    .gbciAddCaseBlock {
        height: 146px;
    }
    .gbciAddBtnCrossCnt {
        height: 28px;
        width: 28px;
    }
    .gbciAddBtn {
        height: 52px;
        font-size: 13px;
        line-height: 100%;
    }
    .gbcipCaseInfoBlock {
        display: none;
    }
    .gbcipBtnMobileGroup {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .battles {
        padding: 0 15px;
    }
    .gbcipCaseDefenitionsBlock, .gbcipCaseAmountBlock {
        font-size: 13px;
        height: 33px;
        white-space: nowrap;
    }
    .gbcipCaseDefenitionsBlock{
        margin-right: 5px;
    }
    .gbcipCaseAmountBlock {
        margin-right: 0px;
    }
    .gspPlayerPriceBlockMobile {
        display: flex;
        width: fit-content;
    }
    .gspPlayerPriceModalBlockMobile {
        display: flex;
        width: fit-content;
    }
    .gspPlayerImgCntMobile {
        display: flex;
    }
    .gspPlayerAmountTxt {
        font-size: 13px;
    }
    .gspPlayerAmountCnt {
        height: 53px;
    }
    .gspPlayerBtn {
        height: 28px;
        font-size: 16px;
        padding: 0px 9px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .gspPlayerBtn:last-child {
        margin-right: 0px;
    }
    .gspPlayerImgBlockMobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .gspPlayerBtnGroup {
        display: none;
    }
    .gspPlayerImgBlockMobile {
        display: flex;
    }
    .gameSetupPanel {
        height: 80px;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .gspPlayerImgCnt {
        display: none;
    }

    .mnHeadBtnRulesCntClean button {
        font-size: 14px;
        line-height: 14px;
    }

    :global(.bcmwCnt)  .mnHeadBtnRulesCnt, .mnHeadBtnRules {
        height: 29px;
        padding: 0px;
    }
    :global(.bcmwCnt)  .mnHeadBtnRules {
        padding-bottom: 2px;
        font-size: 14px;
        line-height: 14px;
        padding-right: 14px;
        padding-left: 14px;
    }
    .contractsHeadBtnRulesCnt, .contractsMnHeadBtnRules {
        height: 15px;
        font-size: 7px;
        line-height: 100%;
        margin-right: 0px;
        border-radius: 4px;
    }
}
