%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stCaseCnt {
    @extend %flexCenter;
    max-width: 330px;
    max-height: 376px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.bgCaseCnt {
    @extend %flexCenter;
    max-width: 380px;
    max-height: 411px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.stCaseCnt:hover .stCaseImgCnt {
    transform: scale(1.166);
    z-index: 2;
}

.stCaseCnt:hover .caseInfoBlock {
    transform: translateY(22px);
}

.bgCaseCnt:hover .bgCaseImgCnt {
    transform: scale(1.166);
    z-index: 2;
}

.bgCaseCnt:hover .caseInfoBlock {
    transform: translateY(22px);
}

.stCaseImgCnt {
    max-width: 300px;
    max-height: 275px;
    transition: transform 0.3s ease;
}

.bgCaseImgCnt {
    max-width: 350px;
    max-height: 310px;
    transition: transform 0.3s ease;
}

.caseInfoBlock {
    @extend %flexCenter;
    flex-direction: column;
    margin-top: 13px;
    transition: transform 0.3s ease;
}

.caseName {
    font-family: var(--font-headBold);
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.stCaseBtnCnt {
    margin-top: 15px;
    height: 46px;
}

.bgCaseImgCnt{
  z-index: -1;
}


.stCaseBtn {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  background-color: rgba(255, 148, 0, 1);
  border-radius: 7px;
  font-family: var(--font-headBold);
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;

  &:hover {
    background-color: rgba(255, 163, 36, 1);
    color: rgba(255, 255, 255, 1);
  }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

  &:active {
    background-color: rgba(255, 123, 0, 1);
    color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(174, 174, 174, 1);
  }
}

.stItemBtnCnt {
    width: 100%;
    height: 29px;
    border-radius: 7px;
    background-color: rgba(229, 133, 0, 1);
    font-family: var(--font-headBold);
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;

    &:hover {
        background-color: rgba(255, 163, 36, 1);
        color: rgba(255, 255, 255, 1);
    }

    &:active {
       background-color: rgba(255, 123, 0, 1);
       color: rgba(255, 255, 255, 1);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(174, 174, 174, 1);
    }
}
