%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage {
    margin-top: 116px;
}

.actBlock {
    display: flex;
    flex-direction: column;
}

.caseShelfCnt {
    @extend %flexCenter;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actTitleCnt {
    @extend %flexCenter;
    margin-bottom: 40px;
    margin-top: 60px;
    justify-content: space-between;
}
