%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smItemCnt {
    height: 191px;
    width: 191px;
    padding: 10px 8px 8px 8px;
}

.smItemCnt {
    @extend %flex-center;
    border-width: 1px;
    border-style: solid;
    flex-direction: column;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    justify-content: space-between;
    &.usuallItemSmType {
        background-image: url(/images/blue_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(0, 81, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(184, 208, 255, 1);
        }
        .smItemGunModel {
            color: rgba(0, 140, 255, 1);
        }
    }
    &.rareItemSmType {
        background-image: url(/images/violet_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(123, 0, 255, 0.5) 0%, rgba(56, 56, 56, 0) 107.01%);
        }
        .smItemGunPrice {
            color: rgba(228, 203, 255, 1);
        }
        .smItemGunModel {
            color: rgba(179, 108, 255, 1)
        }
    }

    &.classifiedItemSmType {
        background-image: url(/images/pink_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(212, 0, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(255, 217, 248, 1);
        }
        .smItemGunModel {
            color: rgba(255, 56, 229, 1)
        }
    }

    &.eliteItemSmType {
        background-image: url(/images/red_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(221, 36, 38, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(255, 217, 217, 1);
        }
        .smItemGunModel {
            color: rgba(255, 80, 80, 1);
        }
    }
    &.epicItemSmType {
        background-image: url(/images/gold_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(255, 195, 0, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(254, 245, 163, 1);
        }
        .smItemGunModel {
            color: rgba(255, 195, 0, 1);
        }
    }
}

.smItemCnt::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-radius: 10px;
    padding: 1px; /* толщина рамки */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    border-collapse: collapse;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}

.smItemInfoCnt, .scmCaseInfoCnt{
    @extend %flex-center;
}

.smItemInfoBlck, .scmCaseInfoBlck {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;
}
.smItemInfoBlck {
    margin-top: 7px;
}
.scmCaseInfoBlck {
    margin-top: 9px;
}
.smItemImgCnt, .scmCaseImgCnt {
    @extend %flex-center;
    position: relative;
    flex: 1;
    width: 100%;
    img {
        // width: 95%;
        // max-width: 100%;
        object-fit: contain;
    }
}

.smItemGunModel, .smItemGunStyle, .smItemGunStyle, .scmCaseGunModelm, .scmCaseGunStyle {
    font-family: var(--font-headRegular);
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    color: rgba(125, 128, 145, 1);
}

.smItemGunModel {
    margin-right: 3px;
}

.scmCaseGunModel {
    margin-right: 3px;
}

.smItemGunStyle, .smItemGunPrice, .scmCaseGunPrice {
    font-family: var(--font-textRegular);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.smItemGunPrice {
    margin-bottom: 7px;
    margin-top: 7px;
}

.scmCaseGunPrice {
    margin-top: 7px;
    font-size: 12px;
    line-height: 12px;
}

.smItemGunPriceMode {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 12px;
    margin-top: 11px;
}

.smItemGunModel, .smItemGunStyle {
    font-size: 16px;
    line-height: 16px;
}

.scmCaseGunModel, .scmCaseGunStyle {
    font-size: 12px;
    line-height: 12px;
}

.ScmCaseItem {
    height: 107px;
    width: 170px;
    padding: 10px 5px 6px 5px;
}
.scmCaseRoulletItem{

    .scmCaseGunModel {
        height: 20px !important;
        line-height: 100%;
        font-size: 20px !important;
    }
    .smItemGunStyle {
        height: 16px !important;
        padding: 0px !important;
        line-height: 100%;
        font-size: 20px !important;
    }
}

.ScmCaseItem, .scmCaseRoulletItem {
    @extend %flex-center;
    border-width: 1px;
    border-style: solid;
    flex-direction: column;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    justify-content: space-between;

    &.usuallScmCaseItem {
        background-image: url(/images/blue_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(0, 81, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(184, 208, 255, 1);
        }
        .scmCaseGunModel {
            color: rgba(0, 140, 255, 1);
        }
    }
    &.rareScmCaseItem {
        background-image: url(/images/violet_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(123, 0, 255, 0.5) 0%, rgba(56, 56, 56, 0) 107.01%);
        }
        .scmCaseGunPrice {
            color: rgba(228, 203, 255, 1);
        }
        .scmCaseGunModel {
            color: rgba(179, 108, 255, 1)
        }
    }

    &.classifiedScmCaseItem {
        background-image: url(/images/pink_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(212, 0, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(255, 217, 248, 1);
        }
        .scmCaseGunModel {
            color: rgba(255, 56, 229, 1)
        }
    }

    &.eliteScmCaseItem {
        background-image: url(/images/red_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(221, 36, 38, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(255, 217, 217, 1);
        }
        .scmCaseGunModel {
            color: rgba(255, 80, 80, 1);
        }
    }
    &.epicScmCaseItem {
        background-image: url(/images/yellow_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(255, 195, 0, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(254, 245, 163, 1);
        }
        .scmCaseGunModel{
            color: rgba(255, 195, 0, 1);
        }
    }
}

.ScmCaseItem::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-radius: 10px;
    padding: 1px; /* толщина рамки */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    border-collapse: collapse;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}


:global(.bstCnt) .ScmCaseItem,
:global(.bcmwCnt) .ScmCaseItem{
    transform: scale(1); // пример — увеличить активный слайд
    transition: transform 0.1s ease, opacity 0.1s ease;
    filter: blur(3px);              // # new — размытие
}

:global(.bstCnt) :global(.swiper-slide-active) .ScmCaseItem,
:global(.bcmwCnt) :global(.swiper-slide-active) .ScmCaseItem {
    transform: scale(1.177); // пример — увеличить активный слайд
    opacity: 1;
    transition: transform 0.1s ease, opacity 0.1s ease;
    filter: blur(0px);
    box-shadow: 0px 0px 50px 0px rgba(255, 195, 0, 0.25);
}
:global(.bcmwCnt) :global(.swiper-slide-active) .ScmCaseItem {
    box-shadow: 0px 0px 50px 0px rgba(255, 195, 0, 0.05);

}
