%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.smItemCnt {
    height: 191px;
    width: 191px;
    padding: 10px 8px 8px 8px;
}



.smItemCnt {
    @extend %flex-center;
    border-width: 1px;
    border-style: solid;
    flex-direction: column;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    justify-content: space-between;
    &.usuallItemSmType {
        background-image: url(/images/blue_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(0, 81, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(184, 208, 255, 1);
        }
        .smItemGunModel {
            color: rgba(0, 140, 255, 1);
        }
    }
    &.rareItemSmType {
        background-image: url(/images/violet_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(123, 0, 255, 0.5) 0%, rgba(56, 56, 56, 0) 107.01%);
        }
        .smItemGunPrice {
            color: rgba(228, 203, 255, 1);
        }
        .smItemGunModel {
            color: rgba(179, 108, 255, 1)
        }
    }

    &.classifiedItemSmType {
        background-image: url(/images/pink_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(212, 0, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(255, 217, 248, 1);
        }
        .smItemGunModel {
            color: rgba(255, 56, 229, 1)
        }
    }

    &.eliteItemSmType {
        background-image: url(/images/red_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(221, 36, 38, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(255, 217, 217, 1);
        }
        .smItemGunModel {
            color: rgba(255, 80, 80, 1);
        }
    }
    &.epicItemSmType {
        background-image: url(/images/gold_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(255, 195, 0, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .smItemGunPrice {
            color: rgba(254, 245, 163, 1);
        }
        .smItemGunModel {
            color: rgba(255, 195, 0, 1);
        }
    }
}

.smItemCnt::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-radius: 10px;
    padding: 1px; /* толщина рамки */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    border-collapse: collapse;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}

.smItemInfoCnt, .scmCaseInfoCnt{
    @extend %flex-center;
}

.smItemInfoBlck, .scmCaseInfoBlck {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;
}
.smItemInfoBlck {
    margin-top: 7px;
}
.scmCaseInfoBlck {
    margin-top: 9px;
}
.smItemImgCnt, .scmCaseImgCnt {
    @extend %flex-center;
    position: relative;
    flex: 1;
    width: 100%;
    img {
        // width: 95%;
        // max-width: 100%;
        object-fit: contain;
    }
}

.smItemGunModel, .smItemGunStyle, .smItemGunStyle, .scmCaseGunModelm, .scmCaseGunStyle {
    font-family: var(--font-headRegular);
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    color: rgba(125, 128, 145, 1);
}

.smItemGunModel {
    margin-right: 3px;
}

.scmCaseGunModel {
    margin-right: 3px;
}

.smItemGunStyle, .smItemGunPrice, .scmCaseGunPrice {
    font-family: var(--font-textRegular);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.smItemGunPrice {
    margin-bottom: 7px;
    margin-top: 7px;
}

.scmCaseGunPrice {
    margin-top: 7px;
    font-size: 12px;
    line-height: 12px;
}

.smItemGunPriceMode {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 12px;
    margin-top: 11px;
}

.smItemGunModel, .smItemGunStyle {
    font-size: 16px;
    line-height: 17px;
}

.scmCaseGunModel, .scmCaseGunStyle {
    font-size: 12px;
    line-height: 12px;
}

.ScmCaseItem {
    height: 107px;
    width: 170px;
    padding: 10px 5px 6px 5px;
    position: relative;
}
.scmCaseRoulletItem{

    .scmCaseGunModel {
        height: 20px !important;
        line-height: 100%;
        font-size: 20px !important;
    }
    .smItemGunStyle {
        height: 16px !important;
        padding: 0px !important;
        line-height: 100%;
        font-size: 20px !important;
    }
}

.smItemGunStyleRoullet {
    height: 20px;
    padding-top: 2px
}

.ScmCaseItem, .scmCaseRoulletItem {
    @extend %flex-center;
    border-width: 1px;
    border-style: solid;
    flex-direction: column;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: none;
    justify-content: space-between;

    &.usuallScmCaseItem {
        background-image: url(/images/blue_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(0, 81, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(184, 208, 255, 1);
        }
        .scmCaseGunModel {
            color: rgba(0, 140, 255, 1);
        }
    }
    &.rareScmCaseItem {
        background-image: url(/images/violet_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(123, 0, 255, 0.5) 0%, rgba(56, 56, 56, 0) 107.01%);
        }
        .scmCaseGunPrice {
            color: rgba(228, 203, 255, 1);
        }
        .scmCaseGunModel {
            color: rgba(179, 108, 255, 1)
        }
    }

    &.classifiedScmCaseItem {
        background-image: url(/images/pink_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(212, 0, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(255, 217, 248, 1);
        }
        .scmCaseGunModel {
            color: rgba(255, 56, 229, 1)
        }
    }

    &.eliteScmCaseItem {
        background-image: url(/images/red_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(221, 36, 38, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(255, 217, 217, 1);
        }
        .scmCaseGunModel {
            color: rgba(255, 80, 80, 1);
        }
    }
    &.epicScmCaseItem {
        background-image: url(/images/yellow_scm_item_background.png);
        &::before {
            background: linear-gradient(180deg, rgba(255, 195, 0, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
        }
        .scmCaseGunPrice {
            color: rgba(254, 245, 163, 1);
        }
        .scmCaseGunModel{
            color: rgba(255, 195, 0, 1);
        }
    }
}

.ScmCaseItem::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-radius: 10px;
    padding: 1px; /* толщина рамки */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    border-collapse: collapse;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}


:global(.bstCnt) .ScmCaseItem,
:global(.bcmwCnt) .ScmCaseItem{
    transform: scale(1); // пример — увеличить активный слайд
    transition: transform 0.1s ease, opacity 0.1s ease;
    filter: blur(3px);              // # new — размытие
}

:global(.bstCnt) :global(.swiper-slide-active) .ScmCaseItem,
:global(.bcmwCnt) :global(.swiper-slide-active) .ScmCaseItem {
    transform: scale(1.177); // пример — увеличить активный слайд
    opacity: 1;
    transition: transform 0.1s ease, opacity 0.1s ease;
    filter: blur(0px);
    box-shadow: 0px 0px 50px 0px rgba(255, 195, 0, 0.25);
}
:global(.bcmwCnt) :global(.swiper-slide-active) .ScmCaseItem {
    box-shadow: 0px 0px 50px 0px rgba(255, 195, 0, 0.05);

}



.scmGoodState {
    @extend %flex-center;
    font-family: var(--font-headBold);
    position: absolute;
    width: 21px;
    height: 21px;
    font-size: 8px;
    background-color: #7d8091;
    border-radius: 50%;
    color: #000;
    right: 7px;
    top: 7px;
    display: none;
}

:global(.bcmwCnt) .scmGoodState {
    display: flex;
}

.uicCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 35px 20px 40px 20px;
    border-radius: 18px;
    position: relative;
}

.hoverUicCnt {
    position: absolute;
    background-color: rgba(206, 206, 206, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.uicCnt:hover .hoverUicCnt {
    display: block;
}

.hoverUicCntClose {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 25px;
    height: 25px;
    background-image: url(/images/close_upgrade_cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 5;
}

.uicImgCnt {
    max-width: 450px;
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    img {
        object-fit: contain;
    }
}

.uicItemInfo {
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    justify-content: space-between;
}

.uicTextInfo {
    @extend %flex-center;
    flex-direction: row;
}

.uicPriceInfo {
    width: 100%;
    @extend %flex-center;
    margin-top: 5px;
    font-family: var(--font-textRegular);
    font-size: 30px;
}

.uicGunModel, .uicGunStyle {
    font-family: var(--font-headRegular);
    font-size: 25px;
}

.uicGunStyle {
    color: rgba(125, 128, 145, 1);
}

.usuallUicCnt {
    background-image: url(/images/blue_upgrade_background.png);
    .uicGunModel {
        color: rgba(0, 140, 255, 1);
    }
    .uicPriceInfo{
        color: rgba(184, 208, 255, 1);
    }
}

.rareUicCnt {
    background-image: url(/images/violet_upgrade_background.png);
    .uicGunModel {
        color: rgba(179, 108, 255, 1);
    }
    .uicPriceInfo{
        color: rgba(228, 203, 255, 1);
    }
}

.classifiedUicCnt {
    background-image: url(/images/pink_upgrade_background.png);
    .uicGunModel {
        color: rgba(255, 56, 229, 1);
    }
    .uicPriceInfo{
        color: rgba(255, 217, 248, 1);
    }
}


.eliteUicCnt {
    background-image: url(/images/red_upgrade_background.png);
    .uicGunModel {
        color: rgba(255, 80, 80, 1);
    }
    .uicPriceInfo{
        color: rgba(255, 217, 217, 1);
    }
}


.epicUicCnt {
    background-image: url(/images/yellow_upgrade_background.png);
    .uicGunModel {
        color: rgba(255, 195, 0, 1);
    }
    .uicPriceInfo{
        color: rgba(254, 245, 163, 1);
    }
}

.smRemoveBtn {
    margin-top: 3px;
    width: 100%;
    display: none;
}


@media (max-width: 1439px) {
    :global(.threePlayerCnt) :global(.bstCnt) :global(.swiper-slide-active) .ScmCaseItem {
        box-shadow: 0 0 16px rgba(255, 195, 0, .25);
    }
    :global(.fourPlayerCnt) :global(.bstCnt) :global(.swiper-slide-active) .ScmCaseItem {
        box-shadow: 0 0 16px rgba(255, 195, 0, .25);
    }

}

@media (max-width: 1024px) {
    :global(.bpbItemsCnt) .smItemCnt {
        width: 153px;
        height: 153px;
        overflow: visible;
        background-size: contain;
    }
    :global(.bpbItemsCnt) .smItemCnt {
        width: 153px;
        height: 153px;
        overflow: visible;
        background-size: contain;
    }

    :global(.bpbItemsCnt) .smItemGunPrice {
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 5px;
    }
    :global(.bpbItemsCnt) .smItemGunModel, :global(.bpbItemsCnt) .smItemGunStyle {
        font-size: 15px;
        line-height: 15px;
    }
}

@media (max-width: 768px) {


    .smRemoveBtn {
        display: block;
    }
    .smItemCnt {
        width: 100px;
        height: 100px;
        padding: 8px 4px 4px 4px;
        .smItemGunModel, .smItemGunStyle, .smItemGunPrice   {
            font-size: 8px;
            line-height: 8px;
        }
        .smItemGunPrice {
            margin-top: 4px;
            margin-bottom: 5px;
        }
        &.usuallItemSmType {
            background-image: url(/images/mobile_blue_item_background.png);
        }
        &.rareItemSmType {
            background-image: url(/images/mobile_violet_item_background.png);
        }
        &.classifiedItemSmType {
            background-image: url(/images/mobile_pink_item_background.png);
        }
        &.eliteItemSmType {
            background-image: url(/images/mobile_red_item_background.png);
        }
        &.epicItemSmType {
            background-image: url(/images/mobile_gold_item_background.png);
        }
    }
    .uicCnt {
        &.usuallUicCnt {
            background-image: url(/images/mobile_blue_upgrade_background.png);
        }

        &.rareUicCnt {
            background-image: url(/images/mobile_violet_upgrade_background.png);
        }

        &.classifiedUicCnt {
            background-image: url(/images/mobile_pink_upgrade_background.png);
        }

        &.eliteUicCnt {
            background-image: url(/images/mobile_red_upgrade_background.png);
        }

        &.epicUicCnt {
            background-image: url(/images/mobile_yellow_upgrade_background.png);
        }
        padding: 25px 46px 25px 46px;
        .uicPriceInfo {
            font-size: 16px;
        }
        .uicGunModel, .uicGunStyle {
            font-size: 14px;
        }
        .uicImgCnt {
            margin-bottom: 9px;
        }
        .hoverUicCntClose {
            width: 15px;
            height: 15px;
            top: 15px;
            right: 15px;
        }
    }
    :global(.bcmwCnt) :global(.wonGunInfo) .scmCaseGunStyle {
        height: 20px !important;
    }

    .scmGoodState {
        width: 11px;
        height: 11px;
        font-size: 4px;
    }

    :global(.bcmwCnt) :global(.wonGunInfo) .scmCaseGunModel {
        line-height: 100% !important;
        height: 16px !important;
        font-size: 16px !important;
    }

    .ScmCaseItem, .scmCaseRoulletItem {
        @extend %flex-center;
        height: 57px;
        width: 90px;
        padding: 10px 5px 6px 5px;
        .scmCaseGunPrice, .scmCaseGunModel, .scmCaseGunStyle, .scmCaseGunPrice {
            font-size: 6px;
            line-height: 6px;
        }

        .scmCaseGunPrice {
            margin-top: 2px;
        }
        .scmCaseInfoBlck {
            margin-top: 3px;
        }
        &.usuallScmCaseItem {
            background-image: url(/images/mobile_blue_scm_item_background.png);
            &::before {
                background: linear-gradient(180deg, rgba(0, 81, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
            }
            .scmCaseGunPrice {
                color: rgba(184, 208, 255, 1);
            }
            .scmCaseGunModel {
                color: rgba(0, 140, 255, 1);
            }
        }
        &.rareScmCaseItem {
            background-image: url(/images/mobile_violet_scm_item_background.png);
            &::before {
                background: linear-gradient(180deg, rgba(123, 0, 255, 0.5) 0%, rgba(56, 56, 56, 0) 107.01%);
            }
            .scmCaseGunPrice {
                color: rgba(228, 203, 255, 1);
            }
            .scmCaseGunModel {
                color: rgba(179, 108, 255, 1)
            }
        }

        &.classifiedScmCaseItem {
            background-image: url(/images/mobile_pink_scm_item_background.png);
            &::before {
                background: linear-gradient(180deg, rgba(212, 0, 255, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
            }
            .scmCaseGunPrice {
                color: rgba(255, 217, 248, 1);
            }
            .scmCaseGunModel {
                color: rgba(255, 56, 229, 1)
            }
        }

        &.eliteScmCaseItem {
            background-image: url(/images/mobile_red_scm_item_background.png);
            &::before {
                background: linear-gradient(180deg, rgba(221, 36, 38, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
            }
            .scmCaseGunPrice {
                color: rgba(255, 217, 217, 1);
            }
            .scmCaseGunModel {
                color: rgba(255, 80, 80, 1);
            }
        }
        &.epicScmCaseItem {
            background-image: url(/images/mobile_yellow_scm_item_background.png);
            &::before {
                background: linear-gradient(180deg, rgba(255, 195, 0, 0.5) 0%, rgba(17, 18, 26, 0) 100%);
            }
            .scmCaseGunPrice {
                color: rgba(254, 245, 163, 1);
            }
            .scmCaseGunModel{
                color: rgba(255, 195, 0, 1);
            }
        }
    }
    :global(.contractsSlotGlobal) .smItemCnt {
        width: 82px;
        height: 82px;
        padding: 10px 4px;
    }
    :global(.contractsSlotGlobal) .smItemCnt  .smItemGunPriceMode {
        font-size: 10px;
        line-height: 100%;
        height: fit-content;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    :global(.contractsSlotGlobal) .smItemCnt .smItemGunStyle, :global(.contractsSlotGlobal) .smItemCnt .smItemGunModel {
        font-size: 7px;
    }
    :global(.ExClientStuffs) .smItemCntWithDelete {
        height: 118px;           /* высота блока */
        background-size: auto 100%; /* ширина авто, высота 100% */
        background-repeat: no-repeat; /* чтобы не повторялось */
        background-position: center;  /* по центру блока */
    }
     :global(.bpbItemsCnt) .smItemInfoBlck {
        margin-top: 2px;
    }
    :global(.bpbItemsCnt) .smItemCnt {
        width: 50px;
        height: 50px;
        padding: 4px 4px 6px 4px;
        overflow: visible;
        background-size: contain;
        border-radius: 3px;
    }
    :global(.bpbItemsCnt) .smItemCnt {
        width: 50px;
        height: 50px;
        overflow: visible;
        background-size: contain;
    }
    :global(.bpbItemsCnt) .smItemCnt::before {
        border-radius: 3px;
    }

    :global(.bpbItemsCnt) .smItemGunPrice {
        font-size: 7px !important;
        line-height: 100%;
        margin-bottom: 0px;
        margin-top: 2px !important;
    }
    :global(.bpbItemsCnt) .smItemGunModel, :global(.bpbItemsCnt) .smItemGunStyle {
        font-size: 4px !important;
        line-height: 4px !important;
    }
    .ScmCaseItem, .ScmCaseItem::before {
        border-radius: 6px;
    }
    :global(.bstCnt) :global(.swiper-slide-active) .ScmCaseItem {
        box-shadow: 0 0 6px rgba(255, 195, 0, .25);
    }
}
