%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flexStart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.modalBackground {
    @extend %flexCenter;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    z-index: 99;
    top: 0;
    left: 0;
    //backdrop-filter: blur(20px);
}

.modalCnt {
    // width: fit-content;
    // height: fit-content;
     @extend %flexStart;
    background: rgba(9, 9, 11, 0.8); /* меньше opacity, чтобы был виден blur */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* для Safari */
    box-shadow: 0px 0px 135px 0px rgba(255, 195, 0, 0.25);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 10px;
}

.modalCntClose {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('/images/modal_close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 100
}

.rmCnt {
    @extend %flexStart;
    flex-direction: column;
    padding: 41px 55px 50px 55px;
    max-width: 749px;
    width:  100vw;
    min-height: 587px;
    justify-content: space-between;
    flex: 1;
}

.rmHeaderTitle {
    font-family: var(--font-headBold);
    font-size: 36px;
    line-height: 120%;
    vertical-align: middle;
    color: rgba(250, 250, 250, 1);
    margin-bottom: 11px;
}

.rmHeaderDivider{
    height: 2px;
    position: relative;
    max-width: 446px;
}

.rmRulesList {
    font-family: var(--font-textRegular);
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(223, 223, 223, 1);
    margin-bottom: 22px;
    padding-left: 25px;
    margin-top: 15px;
    li {
        margin-bottom: 30px;
    }
    li:last-child {
        margin-bottom: 0px;
    }
}

.rmSaveBtCnt {
    @extend %flexCenter;
    width: 100%;
}

.scmCnt {
    @extend %flexStart;
    flex-direction: column;
    max-width: 915px;
    width:  100vw;
    max-height: 404px;
    height: 100vh;
    padding: 20px 10px 15px 20px;
}

.scmCaseName {
    font-family: var(--font-headBold);
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
    color: rgba(250, 250, 250, 1);
}

.scmCaseItemsStore {
    margin-top: 14px;
}

.scmCaseItemsStore {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); /* колонки растягиваются по ширине контейнера */
    grid-auto-rows: min-content; /* высота строк под контент */
    gap: 5px; /* row-gap и column-gap */
    row-gap: 10px;
    width: 100%;
    height: 100vh; /* или 100% родителя */
    overflow: auto;
    padding-right: 10px;
    box-sizing: content-box;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 75, 75, 1) transparent;
}

// .scmCaseItemsStore {
//     display: flex;           // заменяем @extend %flexCenter
//     justify-content: space-between;
//     align-items: flex-start;
//     flex-wrap: wrap;
//     flex: 1;
//     width: 100%;
//     overflow: auto;
//     row-gap: 5px;
//     padding-right: 10px;
//     /* Firefox */
//     scrollbar-width: thin;
//     scrollbar-color: rgba(75, 75, 75, 1) transparent;
//     column-gap: 5px;
// }

// Chrome, Safari, Edge
.scmCaseItemsStore::-webkit-scrollbar, .pmwPaymentsSystem::-webkit-scrollbar {
  width: 5px;
}

.scmCaseItemsStore::-webkit-scrollbar-track, .pmwPaymentsSystem::-webkit-scrollbar-track {
  background: transparent;
}

.scmCaseItemsStore::-webkit-scrollbar-thumb, .pmwPaymentsSystem::-webkit-scrollbar-thumb {
  background: rgba(75, 75, 75, 1);
  border-radius: 10px;

}

.scmCaseItemsStore::-webkit-scrollbar-button, .pmwPaymentsSystem::-webkit-scrollbar-button {
  display: none;  // стрелки убираем
  width: 0;
  height: 0;
}

.pmwCnt {
    @extend %flexStart;
    flex-direction: column;
    padding: 45px 70px 45px 55px;
    max-width: 1097px;
    width:  100vw;
    max-height: 722px;
    justify-content: space-between;
    flex: 1;
}

.pmwTitleBlock {
    @extend %flexStart;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pmwTitle, .pmwExchangeRate {
    @extend %flexCenter;
    font-family: var(--font-headBold);
    font-size: 36px;
    line-height: 36px;
    color: rgba(250, 250, 250, 1);
}

.pmwExchangeRate{
    font-size: 20px;
    line-height: 20px;
}

.pmwHeaderBlock {
    width: 100%;
}

.pmwSeparatorCnt {
    background-image: url('/images/payment_divider.svg');
    max-width: 377px;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

.pmwSeparatorCnt, .nmmwSeparatorCnt {
    background-image: url('/images/payment_divider.svg');
    max-width: 377px;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background-size: contain;
    margin-top: 13px;
}

.nmmwSeparatorCnt {
    max-width: 403px;
    margin-top: 10px
}

.pmwNavigation {
    @extend %flexCenter;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pmwMenuItem {
    @extend %flexStart;
    align-items: center;
}

.pmwMenuImgCnt {
    @extend %flexCenter;
    margin-right: 10px;
}

.pmwMenuText {
    @extend %flexCenter;
    font-family: var(--font-textBold);
    font-size: 20px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
    cursor: pointer;
}
.pmwMenuText:hover {
    text-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);

}

// .pmwPaymentsSystem {
//     @extend %flexStart;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     gap: 10px;
//     height: auto;
// }

.pmwPaymentsSystem {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); /* колонки растягиваются по ширине контейнера */
    grid-auto-rows: min-content; /* высота строк под контент */
    gap: 25px; /* row-gap и column-gap */
    width: 100%;
    height: 100vh; /* или 100% родителя */
    overflow: auto;
    padding-right: 10px;
    box-sizing: content-box;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 75, 75, 1) transparent;
}


.pscCnt {
    @extend %flexCenter;
    margin-right: auto;
    margin-left: auto;
    max-width: 170px;
    width: 100%;
    height: 107px;
    border: 1px solid rgba(255, 195, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -30.35%, rgba(255, 255, 255, 0.15) 119.77%);
    overflow: hidden; // чтобы контент не вылазил
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(255, 195, 0, 0.5);
    }
    .pscImgCnt {
        position: relative;
        width: 100%;
        height: 100%;
    }
    img {
        object-fit: contain;
    }

}

.pmwPaymentsSystem {
    margin: 0px -30px 0px -30px;
    padding: 0px 30px 0px 30px;
}

.pmwPaymentData {
    @extend %flexStart;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.pmwPromoCode, .pmwSumAmount {
    @extend %flexCenter;
    max-width: 226px;
    width: 100%;
    padding-right: 45px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
    height: 44px;
}

.pmwSumAmount {
    max-width: 128px;
    padding: 0px 20px;
    font-size: 16px;
}


.pmwPromoCode::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/images/payment_arrow_right.svg');
    top: 12px;
    right: 20px;
}

.pmwPromoCodeInput {
    font-family: var(--font-headBold);
    min-width: 0;
    font-size: 16px;
    color: rgba(223, 223, 223, 1);
    padding-bottom: 1px;
}

.pmwPromoCodeInput:placeholder-shown {
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 3px;
}

.pmwPromoCodeBlock {
    margin-bottom: 20px;
}

.pmwPriceBlock {
    font-family: var(--font-textBold);
    font-size: 20px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
    margin-left: 10px;
    cursor: pointer;
}

.pmwPriceBlockChanger {
    @extend %flexCenter;
    justify-content: space-between;
    width: 100%;
    max-width: 693px;
    margin-bottom: 44px;
}

.pmwPriceBlockChangerBttn {
    @extend %flexStart;
    align-items: center;
    height: 46px;
}

.pmwTopUpAmountBlock {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.pmwTopUpTitle {
    font-family: var(--font-textRegular);
    font-size: 18px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.75);
}

.pmwTopUpAmount {
    font-family: var(--font-textRegular);
    font-size: 22px;
    line-height: 120%;
    color: rgba(255, 195, 0, 1);
}

.bcmRulletCnt {
    .modalCnt {
        background: none;
        box-shadow: none;
    }
    .modalCntClose {
        display: none;
    }
}

.bcmwCnt {
    @extend %flexCenter;
    flex-direction: column;
    max-width: 1614px;
    width: 100%;
    overflow: hidden;      // обрезаем лишнее
    padding: 0px 30px;
}

.bcmwSwiperCnt {
    width: 100%;
    height: auto;          // авто-высота
    overflow: hidden;
}

.bcmwSwiperSlide {
    @extend %flexCenter;
    flex: 0 0 auto;
    height: 150px !important;
    width: 170px !important;  // фиксированная ширина, Swiper подстраивается под auto
    transition: transform 0.3s ease;
}

.bcmwSwiperSlideContentCnt {
    @extend %flexCenter;
    height: 100%;
}

.bcmwSwiperCnt {
    overflow: hidden;
}


.swiperCnt {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.bcmwCntRoulet {
    @extend %flexStart;
    width: 100%;
    max-height: 325px;
    margin: 0 auto;
}

.bcmwSliderSwiper {
    width: 100%;
    height: 100%;
}

// :global(.swiper-slide) {
//   flex: 0 0 auto;
//   width: 170px;
//   transition: transform 0.3s ease, margin 0.3s ease;
// }

.bcmwSliderSwiper :global(.swiper-slide-active) {
    // width: 230px !important;
    z-index: 125;
    // transform: scale(1.3);
}

// :global(.swiper-slide-prev),
// :global(.swiper-slide-next) {
//   margin-left: 10px;   // отступ от центрального слайда
//   margin-right: 10px;
//   transform: scale(1.1);
// }

.bcmwCaseData {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.bcmwCaseName {
    font-family: var(--font-headBold);
    font-size: 30px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

.bcmwCaseArrow {
    width: 150px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.bcmwCaseArrowTop {
    background-image: url(/images/down_direction_case_arrow.svg);
}
.bcmwCaseArrowBottom {
    background-image: url(/images/top_direction_case_arrow.svg);
}

.bcmwCaseData {
    margin-bottom: 17px;
}

.bcmwCaseArrowCnt {
    margin-top: 17px;
    margin-bottom: 15px;
}

.wonGunInfo {
    @extend %flexCenter ;
    flex-direction: row !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0px !important;
    height: auto !important;
    margin-bottom: 25px;
    justify-content: center !important;
    width: auto !important;
}

.wonGunBttn {
     @extend %flexCenter ;
}

.wonGunBttnTake {
    margin-right: 26px;
}

.uamwCnt {
    @extend %flexStart;
    flex-direction: column;
    max-width: 766px;
    width: 100vw;
    min-height: 220px;
    padding: 45px 30px 30px;
    justify-content: space-between
}

.uamwInfo {
    @extend %flexCenter;
    flex-direction: column;
    font-family: var(--font-headRegular);
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    width: 100%;
    color: rgba(223, 223, 223, 1)
}

.uamwAuthBtn {
    @extend %flexCenter;
    width: 100%;
}

.nmmwCnt {
    @extend %flexStart;
    flex-direction: column;
    max-width: 698px;
    width: 100vw;
    min-height: 315px;
    padding: 44px 55px 55px 55px;
    justify-content: space-between;

}

.nmmwText {
    font-family: var(--font-textBold);
    font-size: 20px;
    line-height: 120%;
    color: rgba(223, 223, 223, 1);
    margin-top: 10px;
}

.nmmwBtnCnt {
    margin-bottom: 0px;
}

@media (max-width: 1439px) {

}

@media (max-width: 1024px) {



}

@media (max-width: 768px) {
    .scmGoodState
    .bcmwCaseArrowCnt {
        margin-bottom: 10px;
    }
    .bcmwCnt {
        padding: 0 ;
    }
    .bcmwCaseArrowTop {
        width: 120px;
        height: 10px;
        background-image: url(/images/mobile_down_direction_case_arrow.svg);
    }
    .bcmwCaseArrowBottom {
        width: 120px;
        height: 10px;
        background-image: url(/images/mobile_top_direction_case_arrow.svg);
    }
    .bcmwCaseName {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .bcmwSwiperSlide {
        height: 70px !important;
        width: 100px !important;
    }
    .wonGunInfo {
        margin-bottom: 15px;
    }
    .nmmwBtnCnt{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .nmmwSeparatorCnt {
        max-width: 179px;
    }
    .nmmwText {
        font-size: 13px;
    }
    .pmwTitle {
        font-size: 16px;
        line-height: 16px;
    }
    .pmwExchangeRate {
        font-size: 13px;
        line-height: 13px;
    }
    .nmmwCnt {
        max-width: 313px;
        min-height: 204px;
        padding: 40px 17px 35px 17px;
    }
    .uamwCnt {
        max-width: 360px;
        min-height: 150px;
        padding: 36px 30px 12px;
    }
    .uamwInfo {
        font-size: 16px;
    }
    .scmCnt {
        max-width: 313px;
        max-height: 253px;
        padding: 15px 10px 22px 15px;
    }
    .modalCntClose {
        width: 8px;
        height: 8px;
    }
    .scmCaseName {
        font-size: 16px;
    }
    .scmCaseItemsStore {
        margin-top: 10px;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); /* колонки растягиваются по ширине контейнера */
        grid-auto-rows: min-content; /* высота строк под контент */
        gap: 4px; /* row-gap и column-gap */
        row-gap: 5px;
        max-width: 290px;
        padding-right: 3px;
    }
    .scmCaseItemsStore::-webkit-scrollbar {
    width: 2px !important;           /* толщина вертикального скролла */
    }

    .scmCaseItemsStore::-webkit-scrollbar-thumb {
    background: #888;     /* цвет ползунка */
    border-radius: 1px;   /* скругление */
    }

    .scmCaseItemsStore::-webkit-scrollbar-track {
    background: #f1f1f1;  /* фон полосы скролла */
    }
}
