%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

%pageBlock {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.profile {
    @extend %flexStart;
    flex-direction: column;
    max-width: 1800px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profileTitle {
    @extend %flexCenter;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 56px;
    width: 100%;
}


.mainUserInfoCnt {
    @extend %flexCenter;
    justify-content: space-between;
    width: 100%;
    column-gap: 22px;
    height: 100%;
}

.prOwnerInfo {
    @extend %flexStart, %pageBlock;
    height: auto;
    min-width: fit-content;

    padding: 25px 15px;
    align-items: normal;

}

.prOwnerImageCnt {
    @extend %flexCenter;
    max-width: 168px;
    height: 168px;
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

.prUserImageCnt {
    @extend %flexCenter;
    max-width: 86px;
    height: 86px;
    width: 100%;
    position: relative;
    margin-right: 15px;;
}

.prImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prOwnerDataCnt, .prOwnerDataBlock {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    min-width: 198px;
}

.prOwnerDataBlock {
    width: 100%;
    margin-left: 25px;
}

.prOwnerDataCnt{
    height: 117px;
    width: 100%;
}

.prCurrentBalance {
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 148, 0, 1);
    padding-bottom: 7px;
    margin-right: 20px;
    white-space: nowrap;
}

.prTopUpBalance {
    border-color: rgba(255, 148, 0, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding: 7px 14px;
    color: rgba(255, 255, 255, 1);

    &:hover {
       background-color: rgba(255, 169, 49, 0.3);
    }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

    &:active {
        background-color: rgba(255, 150, 53, 1);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(174, 174, 174, 1);
    }
}

.prNicknameAccountCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 43px;
    margin-bottom: 22px;
}

.prNickname {
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
}

.prAccountType {
    font-family: var(--font-headBold);
    font-size: 14px;
    line-height: 9px;
    line-height: 100%;
    color: rgba(255, 148, 0, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 148, 0, 1);;
    padding-bottom: 3px;
}

.prAccountBalance {
    font-family: var(--font-textRegular);
    font-size: 20px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.prCurrentBalanceCnt {
    @extend %flexStart;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.prAccountBalanceCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 53px;
}

.prUserInfo {
    @extend %flexStart, %pageBlock;
    min-width: 420px;
    height: 115px;
    padding: 14px 15px;
    justify-content: space-between;
    align-items: center
}

.prUserNickname {
    @extend %flexStart;
    align-items: center;
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    height: 44px;
}

.prUserMainInfo {
    @extend %flexStart;
    align-items: center;
}

.prUserAccountType {
    @extend %flexCenter;
}

.prLogOutCnt {
    @extend %flexCenter;
    width: 100%;
    background-color: rgba(255, 148, 0, 1);
    border-radius: 7px;
    height: 29px;
    cursor: pointer;

    .prLogOut {
        font-family: var(--font-headBold);
        padding-bottom: 3px;
        font-size: 14px;
        margin-right: 7px;
        color: rgba(0, 0, 0, 1);
    }

    &:hover {
        background-color: rgba(255, 163, 36, 1);
        .prLogOut {
            color: rgba(255, 255, 255, 1);
        }
    }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

  &:active {
    background-color: rgba(255, 123, 0, 1);
    .prLogOut {
        color: rgba(255, 255, 255, 1);
    }
  }

  &:disabled {
    background-color: rgba(174, 174, 174, 1);
    .prLogOut {
        color: rgba(255, 255, 255, 0.5);;
    }
  }

}

.prTradeLinkBlock {
    @extend %flexCenter, %pageBlock;
    padding: 15px 35px;
    justify-content: space-between;
    width: 100%;
    height: 77px
}

.prSaveBtCnt {
    @extend %flexCenter;
}

.prTradeInputCnt {
    @extend %flexCenter;
    flex: 1;
    margin-right: 30px;
}

.prTradeInput {
    @extend %flexStart;
    flex: 1;
    font-family: var(--font-textRegular);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    height: auto;
    &::placeholder {
        font-family: var(--font-textRegular);
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.siteUserInfoCnt {
    @extend %flexStart;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
}

.prSiteActivities {
    @extend %flexCenter, %pageBlock;
    width: 100%;
    height: 115px;
}

.prActivity {
    @extend %flexCenter;
    align-items: stretch;
}

.prActivityData {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.prActivityCnt {
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}

.prActivityImageCnt {
    @extend %flexCenter;
}

.prActivityName {
    font-family: var(--font-textRegular);
    font-size: 15px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(119, 119, 119, 1);
}

.prActivityAmount {
    font-family: var(--font-headBold);
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.prCasesData {
    @extend %flexStart;
    width: 100%;
    margin-top: 40px;
}
.prBestObject {
    @extend  %pageBlock, %flexCenter;
    width: fit-content
}
.prBestObject:first-child {
    margin-bottom: 40px;
}
.prBestObjectCnt {
    @extend %flexStart;
    flex-direction: column;
    width: 100%;
    margin-right: 22px;
    width: fit-content;
}
.prBestCase {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    min-height: 577px;
    width: 420px;
    padding: 56px 14px 63px 14px;
}
.prBestCaseTxtCnt {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    height: 74px;
}

.prBestCaseTxt {
    font-family: var(--font-headRegular);
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: rgba(223, 223, 223, 1);
}

.prBestCaseName {
    @extend .prBestCaseTxt ;
    font-size: 36px;
}

.prBestCaseImgCnt {
    @extend %flexCenter;
    justify-content: center;
    position: relative;
    max-height: 326px;
    flex: 1;
    width: 100%;
}

.prBestCaseImgCnt img {
    max-width: 100%;
    max-height: 100%;
}

.prBestSkinModel, .prBestSkinStyle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.prBestSkinStyle  {
    color: rgba(125, 128, 145, 1);
 }

.prBestSkinPrice {
    margin-top: 15px;
    font-family: var(--font-textRegular);
    font-size: 48px;
    line-height: 100%;
    text-align: center;
}

.usuallPrBestySkin {
    background-image: url(/images/usuallPrBestySkin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 195, 0, 1);
    }
    .prBestSkinPrice {
        color: rgba(254, 245, 163, 1);
    }
}
.rarePrBestySkin {
    background-image: url(/images/rarePrBestySkin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 195, 0, 1);
    }
    .prBestSkinPrice {
        color: rgba(254, 245, 163, 1);
    }
}
.elitePrBestySkin {
    background-image: url(/images/.elitePrBestySkin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 195, 0, 1);
    }
    .prBestSkinPrice {
        color: rgba(254, 245, 163, 1);
    }
}
.epicPrBestySkin {
    background-image: url(/images/epicPrBestySkin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 195, 0, 1);
    }
    .prBestSkinPrice {
        color: rgba(254, 245, 163, 1);
    }
}

.prBestSkinTxtCnt {
    margin-bottom: 15px;
}

.prBestSkinImgCnt {
    position: relative;
    @extend %flexCenter;
    flex: 1;
    height: 100%;
    width: 100%;
}

.prStuffsCnt {
    @extend %flexStart, %pageBlock;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 30px 30px 30px;
    max-height: 1194px;
}

.prOwnerStaffHeader {
    @extend %flexStart;
    flex-direction: column;
    width: 100%;
}
.prUserStaffHeader {
    @extend %flexStart;
    justify-content: space-between;
}

.prStaffTitle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
}

.prSettingsData {
    @extend %flexStart;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 40px;
    width: 100%;
}

.prSortStuffBlock {
    @extend %flexStart;
    align-items: stretch;
}

.prMgLThrty {
    margin-left: 30px;
}

.prStuffCntInfo {
    @extend %flexStart;
    font-family: var(--font-textRegular);
    font-size: 20px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.prStuffAmount {
    margin-right: 30px;
}

.prStuffAmount, .prStuffTotalPrice, .prStuffCntInfo {
    @extend %flexCenter;
    align-items: stretch;
}

.prUserStaffHeader {
    @extend %flexCenter;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}
