%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

%pageBlock {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.profile {
    @extend %flexStart;
    flex-direction: column;
    max-width: 1800px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profileTitle {
    @extend %flexCenter;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 56px;
    width: 100%;
}


.mainUserInfoCnt {
    @extend %flexCenter;
    justify-content: space-between;
    width: 100%;
    column-gap: 22px;
    height: 100%;
}

.prOwnerInfo {
    @extend %flexStart, %pageBlock;
    height: auto;
    min-width: fit-content;

    padding: 25px 15px;
    align-items: normal;

}

.prOwnerImageCnt {
    @extend %flexCenter;
    position: relative;
    width: 168px;
    height: 168px;
    position: relative;
    flex-shrink: 0;
    img {
        object-fit: contain;
    }
}

.prUserImageCnt {
    @extend %flexCenter;
    max-width: 86px;
    height: 86px;
    width: 100%;
    position: relative;
    margin-right: 15px;;
}

.prImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prOwnerDataCnt, .prOwnerDataBlock {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    min-width: 198px;
}

.prOwnerDataBlock {
    width: 100%;
    margin-left: 25px;
    max-width: 280px;
}

.prOwnerDataCnt{
    height: 117px;
    width: 100%;
}

.prCurrentBalance {
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 148, 0, 1);
    padding-bottom: 7px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prTopUpBalance {
    font-family: var(--font-headBold);
    border-color: rgba(255, 148, 0, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    padding: 7px 14px;
    color: rgba(255, 255, 255, 1);
    margin-left: auto;
    &:hover {
       background-color: rgba(255, 169, 49, 0.3);
    }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

    &:active {
        background-color: rgba(255, 150, 53, 1);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(174, 174, 174, 1);
    }
}

.prNicknameAccountCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 43px;
    margin-bottom: 22px;
    max-width: 100%;
}

.prNickname {
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;       /* важно для flex */
    max-width: 100%;    /* ограничивает ширину родителем */
    flex: 1 1 auto;
}
.makeInLiner {
    @extend %flexCenter
}

.prAccountType {
    font-family: var(--font-headBold);
    font-size: 14px;
    line-height: 9px;
    line-height: 100%;
    color: rgba(255, 148, 0, 1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 148, 0, 1);;
    padding-bottom: 3px;
}

.prAccountBalance {
    font-family: var(--font-textRegular);
    font-size: 20px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.prCurrentBalanceCnt {
    @extend %flexStart;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}


.prAccountBalanceCnt {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    height: 53px;
    width: inherit
}

.prUserInfo {
    @extend %flexStart, %pageBlock;
    min-width: 420px;
    height: 115px;
    padding: 14px 15px;
    justify-content: space-between;
    align-items: center
}

.prUserNickname {
    @extend %flexStart;
    align-items: center;
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.prUserMainInfo {
    @extend %flexStart;
    align-items: center;
}

.prUserAccountType {
    margin-left: 15px;
    @extend %flexCenter;
}

.prLogOutCnt {
    @extend %flexCenter;
    width: 100%;
    background-color: rgba(255, 148, 0, 1);
    border-radius: 7px;
    height: 29px;
    cursor: pointer;

    .prLogOut {
        font-family: var(--font-headBold);
        padding-bottom: 3px;
        font-size: 14px;
        margin-right: 7px;
        color: rgba(0, 0, 0, 1);
    }

    &:hover {
        background-color: rgba(255, 163, 36, 1);
        .prLogOut {
            color: rgba(255, 255, 255, 1);
        }
    }

  // &:focus {
  //   background-color: rgba(246, 143, 0, 1);
  //   color: rgba(255, 255, 255, 1);
  //   border: 1px solid rgba(74, 74, 74, 0.7);
  // }

  &:active {
    background-color: rgba(255, 123, 0, 1);
    .prLogOut {
        color: rgba(255, 255, 255, 1);
    }
  }

  &:disabled {
    background-color: rgba(174, 174, 174, 1);
    .prLogOut {
        color: rgba(255, 255, 255, 0.5);;
    }
  }

}

.prTradeLinkBlock {
    @extend %flexCenter, %pageBlock;
    padding: 15px 35px;
    justify-content: space-between;
    width: 100%;
    height: 77px
}

.prSaveBtCnt {
    @extend %flexCenter;
}

.prTradeInputCnt {
    @extend %flexCenter;
    flex: 1;
    margin-right: 30px;
}

.prTradeInput {
    @extend %flexStart;
    flex: 1;
    font-family: var(--font-textRegular);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    height: auto;
    &::placeholder {
        font-family: var(--font-textRegular);
        font-size: 24px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.siteUserInfoCnt {
    @extend %flexStart;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
}

.prSiteActivities {
    @extend %flexCenter, %pageBlock;
    width: 100%;
    height: 115px;
}

.prActivity {
    @extend %flexCenter;
    align-items: stretch;
}

.prActivityData {
    @extend %flexStart;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.prActivityCnt {
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}

.prActivityImageCnt {
    @extend %flexCenter;
    height: 60px;
    width: 60px;
    position: relative;
    img {
        object-fit: contain;
    }
}

.prActivityName {
    font-family: var(--font-textRegular);
    font-size: 15px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(119, 119, 119, 1);
}

.prActivityAmount {
    font-family: var(--font-headBold);
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.prCasesData {
    @extend %flexStart;
    width: 100%;
    margin-top: 40px;
}
.prBestObject {
    @extend  %pageBlock, %flexCenter;
    width: fit-content
}
.prBestObject:first-child {
    margin-bottom: 40px;
}
.prBestObjectCnt {
    @extend %flexStart;
    flex-direction: column;
    width: 100%;
    margin-right: 22px;
    width: fit-content;
}
.prBestCase {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    min-height: 577px;
    width: 420px;
    padding: 56px 14px 63px 14px;
}
.prBestCaseTxtCnt {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    height: 74px;
}

.prBestCaseTxt {
    font-family: var(--font-headRegular);
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: rgba(223, 223, 223, 1);
}

.prBestCaseName {
    @extend .prBestCaseTxt ;
    font-size: 36px;
}

.prBestCaseImgCnt {
    @extend %flexCenter;
    justify-content: center;
    position: relative;
    max-height: 326px;
    flex: 1;
    width: 100%;
    img {
        object-fit: contain;
    }
}

.prBestCaseImgCnt img {
    max-width: 100%;
    max-height: 100%;
}

.prBestSkinModel, .prBestSkinStyle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    text-align: center;

}

.prBestSkinStyle  {
    color: rgba(125, 128, 145, 1);
 }

.prBestSkinPrice {
    margin-top: 15px;
    font-family: var(--font-textRegular);
    font-size: 48px;
    line-height: 100%;
    text-align: center;
}

.usuallPrBestySkin {
    background-image: url(/images/usuall_pr_best_skin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(0, 140, 255, 1);
    }
    .prBestSkinPrice {
        color: rgba(184, 208, 255, 1);
    }
}
.classifiedPrBestySkin {
    background-image: url(/images/classified_pr_best_skin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 56, 229, 1);
    }
    .prBestSkinPrice {
        color: rgba(255, 217, 248, 1);
    }
}
.rarePrBestySkin {
    background-image: url(/images/rare_pr_best_skin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(179, 108, 255, 1);
    }
    .prBestSkinPrice {
        color: rgba(228, 203, 255, 1);
    }
}
.elitePrBestySkin {
    background-image: url(/images/elite_pr_best_skin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 80, 80, 1);
    }
    .prBestSkinPrice {
        color: rgba(255, 217, 217, 1);
    }
}
.epicPrBestySkin {
    background-image: url(/images/epic_pr_best_skin.png);
    background-repeat: no-repeat;
    background-size: cover;
    .prBestSkinModel {
        color: rgba(255, 195, 0, 1);
    }
    .prBestSkinPrice {
        color: rgba(254, 245, 163, 1);
    }
}

.prBestSkinTxtCnt {
    margin-bottom: 15px;
}

.prBestSkinImgCnt {
    position: relative;
    @extend %flexCenter;
    flex: 1;
    height: 100%;
    width: 100%;
    img {
        object-fit: contain;
    }
}

.prBestSkinImg {
    transition: transform 0.5s ease;
}

.prBestSkinImg:hover {
    transform: rotate(9deg);
}

.prStuffsCnt {
    @extend %flexStart, %pageBlock;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 30px 30px 30px;
    max-height: 1194px;
}

.prOwnerStaffHeader {
    @extend %flexStart;
    flex-direction: column;
    width: 100%;
}
.prUserStaffHeader {
    @extend %flexStart;
    justify-content: space-between;
}

.prStaffTitle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    color: rgba(223, 223, 223, 1);
}

.prSettingsData {
    @extend %flexStart;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 40px;
    width: 100%;
}

.prSortStuffBlock {
    @extend %flexStart;
    align-items: stretch;
}

.prMgLThrty {
    margin-left: 30px;
}

.prStuffCntInfo {
    @extend %flexStart;
    font-family: var(--font-textRegular);
    font-size: 20px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.prStuffAmount {
    margin-right: 30px;
}

.prStuffAmount, .prStuffTotalPrice, .prStuffCntInfo {
    @extend %flexCenter;
    align-items: stretch;
}

.prUserStaffHeader {
    @extend %flexCenter;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 1439px) {
    .mainUserInfoCnt {
        flex-direction: column;
        gap: 20px;
    }
    .prTradeLinkBlock {
        margin-bottom: 20px;
    }
    .prSiteActivities {
        padding: 0 40px;
    }
}

@media (max-width: 1200px) {

    .prBestObject {
        &:first-child {
            margin-bottom: 25px;
        }
        .prBestCase {
            width: 280px;
            min-height: 384px;
            padding: 35px 15px 15px;
        }
        .prBestCaseTxt {
            font-size: 20px;
            line-height: 100%;
        }
        .prBestCaseName, .prStaffTitle {
            font-size: 32px;
            line-height: 100%;
        }
        .prBestCaseTxtCnt {
            height: 62px;
        }
        .prBestCaseImgCnt {
            margin-top: 15px;
        }
        .prBestSkinModel, .prBestSkinStyle {
            font-size: 22px;
        }
        .prBestCase  {
            padding-bottom: 34px;
        }
        .prBestSkinPrice {
            font-size: 40px;
            margin-top: 10px;
        }
    }
}

@media (max-width: 1024px) {
    .prUserNickname {
        font-size: 20px;
    }
    .prBestObject {
        margin-bottom: 0px;
    }
    .prActivityImageCnt{
        width: 40px;
        height: 40px;
    }
    .prStaffTitle{
        font-size: 30px;
    }
    .prActivityAmount {
        font-size: 28px;
    }
    .prBestObjectCnt {
        .prBestObject:first-child {
            margin-right: 20px;
        }
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .prActivity {
        align-items: center;
    }
    .prActivityCnt {
        margin-right: 20px;
    }
    .prActivityData {
        margin-left: 15px;
    }
    .prActivityAmount {
        margin-top: 3px;
    }
    .prCasesData {
        margin-top: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .prBestObjectCnt {
        margin-right: 0px;
        flex-direction: row;
        order: 2;
    }
}

@media (max-width: 768px) {
    .prTradeInput {
        font-size: 14px;
        &::placeholder {
            font-size: 14px;
        }
    }
    .prUserInfo {
        width: 343px;
        height: 115px;
    }
    .prTradeLinkBlock {
        height: 39px;
        padding: 0 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .prSiteActivities {
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap; /* чтобы элементы переносились на новую строку */
        justify-content: space-between;
        row-gap: 20px; /* расстояние между рядами */
        padding: 23px 30px; /* поправил синтаксис */
        height: fit-content;
    }

    .prSiteActivities > * {
        flex: 0 0 calc(50% - 10px); /* каждый элемент занимает половину строки минус промежуток */
        box-sizing: border-box; /* чтобы padding и border учитывались */
    }
    .prActivityCnt {
        margin-right: 0px;
    }
    .prSiteActivities > *:nth-child(even) .prActivityData {
        flex: 0;
        width: fit-content;
    }
    .prSiteActivities > *:nth-child(even) .prActivity {
        justify-content: flex-end;
    }
    .prActivityImageCnt{
        width: 30px;
        height: 30px;
    }
    .prActivityAmount {
        font-size: 24px;
        line-height: 100%;
        margin-top: 0px;
    }
    .prActivityName {
        font-size: 13px;
        line-height: 100%;
    }
    .prActivityData {
        height: 35px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 15px;
    }
    .prOwnerInfo {
        gap: 15px;
        width: 343px;
        height: 178px;
        padding: 22px 13px;
    }
    .prOwnerImageCnt {
        max-width: 113px;
        height: 100%;
    }
    .prNickname {
        font-size: 20px;
        line-height: 100%;
    }
    .prAccountType {
        font-size: 12px;
        margin-top: 8px;
    }
    .prNicknameAccountCnt {
        margin-bottom: 10px;
    }
    .prOwnerDataBlock {
        max-width: 200px;
        margin-left: 0px;
    }
    .prAccountBalance{
        font-size: 16px;
        margin-bottom: 3px;
        margin-right: 0px;
    }
    .prCurrentBalance {
        width: 100%;
        font-size: 20px;
        line-height: 100%;
        margin-right: 6px;
        padding-bottom: 0px;
        align-items: center;
        justify-content: space-between;
    }
    .prAccountBalanceCnt {
        width: 100%;
        height: fit-content;
    }
    .prTopUpBalance {
        height: 24px;
        border-radius: 6px;
        font-size: 12px;
        padding: 0px 11px;
        margin-bottom: 0;
    }
    .prOwnerDataCnt {
        height: fit-content;
    }
    .prCurrentBalanceCnt {
        display: flex;
        align-items: center;
    }
    .prLogOutCnt {
        height: 29px;
        font-size: 14px;
    }
    .prBestObject {
        border-radius: 5px !important;
        .prBestCase {
            width: 160px;
            min-height: 180px;
            padding: 18px 11px;
        }
        .prBestCaseTxt {
            font-size: 12px;
            line-height: 100%;
        }
        .prBestCaseTxtCnt {
            height: 28px;
        }
        .prBestCaseName {
            font-size: 15px;
        }
        .prBestSkinModel, .prBestSkinStyle {
            font-size: 13px;
        }
        .prBestSkinPrice {
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .prBestObjectCnt {
        margin-top: 20px;
    }
    .notUser {
        margin-bottom: 20px;
        .prStuffCntInfo {
            flex-direction: column;
            align-items: flex-end;
        }
        .prStaffTitle {
            font-size: 13px;
        }
        .prStuffCntInfo {
            font-size: 10px;
        }
        .prStuffAmount {
            margin-right: 0px;
            margin-bottom: 4px;
        }
    }
}
