%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raffles {
    max-width: 1800px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rafflesTitle {
    @extend %flexCenter;
    margin-top: 24px;
    margin-bottom: 56px;
}

.rafflesCasesCnt {
    @extend %flexCenter;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 20px
}

.rafflesCaseCnt {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 860px;
    width: 100%;
    height: 500px;
    padding: 49px 40px;
    background-size: cover;
    background-repeat: no-repeat
}

.rafflesTitleInfo {
    @extend %flexCenter;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 17px;
    width: 100%;
}

.weaponModel, .weaponStyle {
    font-family: var(--font-headRegular);
    font-size: 40px;
    line-height: 100%;
}

.weaponStyle {
    color: rgba(194, 194, 194, 1);
}

.rafflesManIconCnt {
    @extend %flexCenter;
    align-items: center !important;
    margin-right: 15px;
}

.rafflesPlayersInfo {
    @extend %flexCenter;
    justify-content: flex-start;
}

.rafflesPlayerAmount {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
}

.weaponImg {
    object-fit: "contain";
    transition: transform 0.5s ease;
}

.weaponImg:hover {
    transform: rotate(8deg);
}

.weaponImgCnt {
    position: relative;
    width: 100%;
    flex: 1;
    img {
        object-fit: contain;
    }
}

.weaponGameInfo {
    @extend %flexCenter;
    justify-content: space-between;
    height: 74px;
    margin-top: 17px;
    width: 100%;
}

.priceInfoCnt {
    @extend %flexCenter;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    height: 100%;
}

.priceInfoTitle {
    font-family: var(--font-headRegular);
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.priceInfo {
    font-family: var(--font-headRegular);
    font-size: 36px;
    line-height: 100%;
    text-align: left;
}

.weaponImg {
    padding-left: 40px;
    padding-right: 40px;
}

.rafflesDuration, .durationImgCnt  {
    @extend %flexCenter;
}

.rafflesDuration {
    height: 30px;
}

.durationImgCnt {
    margin-right: 13px;
}

.timerText {
    font-family: var(--font-headRegular);
    font-size: 32px;
    line-height: 100%;
}

.rafflesAplliedBtnCnt {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.rafflesAplliedBtn {
    @extend %flexCenter;
    font-family: var(--font-headRegular);
    font-size: 20px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}


.usuallCaseType {
    background-image: url(/images/usuall_raffles_background.png);
    .rafflesPlayerAmount, .weaponModel, .priceInfo, .timerText{
        color:rgba(0, 140, 255, 1);
    }
    .rafflesAplliedBtnCnt {
        border-color: rgba(0, 140, 255, 1);
        &:hover {
            background-color: rgba(0, 140, 255, 0.3);
        }
    }
}

.rareCaseType {
    background-image: url(/images/rare_raffles_background.png);
    .rafflesPlayerAmount, .weaponModel, .priceInfo, .timerText{
        color:rgba(193, 135, 255, 1);
    }
    .rafflesAplliedBtnCnt {
        border-color: rgba(193, 135, 255, 1);
        &:hover {
            background-color: rgba(193, 135, 255, 0.3);
        }
    }
}

.classifiedCaseType {
    background-image: url(/images/classified_raffles_background.png);
    .rafflesPlayerAmount, .weaponModel, .priceInfo, .timerText{
        color:rgba(255, 56, 229, 1);
    }
    .rafflesAplliedBtnCnt {
        border-color: rgba(255, 56, 229, 1);
        &:hover {
            background-color: rgba(255, 56, 228, 0.3);
        }
    }
}

.eliteCaseType {
    background-image: url(/images/elite_raffles_background.png);
    .rafflesPlayerAmount, .weaponModel, .priceInfo, .timerText{
        color:rgba(255, 80, 80, 1);
    }
    .rafflesAplliedBtnCnt {
        border-color: rgba(255, 80, 80, 1);
        &:hover {
            background-color: rgba(255, 80, 80, 0.3);
        }
    }
}

.epicCaseType {
    background-image: url(/images/epic_raffles_background.png);
    .rafflesPlayerAmount, .weaponModel, .priceInfo, .timerText{
        color:rgba(255, 195, 0, 1);
    }
    .rafflesAplliedBtnCnt {
        border-color: rgba(255, 195, 0, 1);
        &:hover {
            background-color: rgba(255, 195, 0, 0.3);
        }
    }
}

.visible768px, .visible1024px{
    display: none;
}

@media (max-width: 1439px) {

}

@media (max-width: 1024px) {
    .rafflesCasesCnt{
        row-gap: 49px;
        column-gap: 20px;
    }
    .rafflesTitle {
        margin-bottom: 38px;
    }
    .pc_visible {
        display: none;
    }
    .visible1024px {
        display: flex;
    }
    .rafflesCaseCnt {
        max-width: 601px ;
        height: 347px;
        padding: 34px 23px 34px 23px;
    }
    .rafflesTitleInfo {
        margin-bottom: 12px;
    }
    .weaponModel, .weaponStyle {
        font-size: 28px;
    }
    .rafflesPlayerAmount {
        font-size: 28px;
    }
    .priceInfoTitle {
        font-size: 17px;
    }
    .weaponGameInfo {
        margin-top: 12px;
        height: 50px;
    }
    .priceInfo {
        font-size: 25px;
    }
    .timerText {
        font-size: 23px;
    }
    .rafflesDuration {
        height: 21px;
    }
    .rafflesAplliedBtn {
        font-size: 15px;
    }
    .rafflesAplliedBtnCnt {
        padding: 13px 18px;
        border-radius: 3px;
    }
    .rafflesManIconCnt {
        margin-right: 14px;
    }
}

@media (max-width: 768px) {
    .raffles {
        padding-right: 10px;
        padding-left: 10px;
    }
    .rafflesCasesCnt{
        row-gap: 21px;
        column-gap: 20px;
    }
    .rafflesTitle {
        margin-bottom: 20px;
    }
    .visible1024px {
        display: none;
    }
    .visible768px {
        display: flex;
    }
    .rafflesCaseCnt {
        max-width: 341px;
        height: 197px;
        padding: 20px 16px 20px 16px;
    }
    .rafflesTitleInfo {
        margin-bottom: 7px;
    }
    .weaponModel, .weaponStyle {
        font-size: 16px;
    }
    .rafflesPlayerAmount {
        font-size: 15px;
    }
    .priceInfoTitle {
        font-size: 10px;
    }
    .weaponGameInfo {
        margin-top: 5px;
        height: 32px;
    }
    .priceInfo {
        font-size: 14px;
    }
    .timerText {
        font-size: 13px;
    }
    .rafflesDuration {
        height: 12px;
    }
    .rafflesAplliedBtn {
        font-size: 10px;
    }
    .rafflesAplliedBtnCnt {
        padding: 6px 7px;
        border-radius: 3px;
    }
    .rafflesManIconCnt {
        margin-right: 8px;
    }
}
