%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockTitle {
    font-family: var(--font-headBold);
    font-size: 50px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.sortCnt {
    background-color: black !important;
}

.termsBlock {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    width: 100%;
    padding: 0px 30px;
}
.termsTitleBlock {
    @extend %flexCenter;
    margin-top: 20px;
    margin-bottom: 50;
}

.termsUsllTextItem {
    font-family: var(--font-textRegular);
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.termsBoldTextItem {
    color: #FF9400;
}
.termsGroupTextItem .termsUsllTextItem,.termsGroupTextItem .termsUsllTitleTextItem {
    margin-bottom: 0px;
}
.termsGroupTextItem .termsUsllTextItem:last-child {
    margin-bottom: 20px;
}
.termsHeadTextItem {
    font-family: var(--font-headBold);
    font-size: 24px;
    line-height: 130%;
    color: #FF9400;
    margin-bottom: 20px;
}

.termsUsllTitleTextItem {
    font-family: var(--font-textRegular);
    font-style: Regular;
    font-size: 24px;
    line-height: 130%;
    color: #FF9400;
    margin-bottom: 20px;
}

@media (max-width: 1024px){
    .blockTitle {
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .blockTitle {
        font-size: 20px;
    }
    .errorPageNumber {
        font-size: 175px;
    }

    .errorPageAddText, .errorPageErrText{
        font-size: 18px;
    }
    .errorPageAddText {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}



// @media (max-width: 1439px) {

// }

// @media (max-width: 1024px) {

// }

// @media (max-width: 768px) {

// }
