.blockTitle {
    font-family: var(--font-headBold);
    font-size: 50px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}
%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortCnt {
    background-color: black !important;
}

@media (max-width: 1024px){
    .blockTitle {
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .blockTitle {
        font-size: 20px;
    }
}



// @media (max-width: 1439px) {

// }

// @media (max-width: 1024px) {

// }

// @media (max-width: 768px) {

// }
