%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortArrowCnt {
    position: relative;
    width: 16px;
    height: 16px;
    img {
        object-fit: contain;
    }
}

.sort-select-cnt {
    min-width: 220px;
    .sort-select__control{
        border: none;
        outline: none;
        box-shadow: none;
    }

    .sort-select__control {
        min-height: 53px;
        background-color: rgba(6, 6, 7, 1);
        border-radius: 5px;
    }



    .sort-select__placeholder, .sort-select__option, .sort-select__single-value, .sort-select__input-container {
        font-family: var(--font-textRegular);
        font-size: 20px;
        text-align: left;
        vertical-align: middle;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
    }

    .sort-select__value-container {
        padding-left: 25px;
    }

    .sort-select__indicator-separator {
        display: none;
    }

    .sort-select__indicator {
        padding-right: 25px;
    }
    .sort-select__menu {
        background-color: rgba(6, 6, 7, 1);
        border-radius: 5px;
    }
    .sort-select__menu-list {
        padding: 5px;
    }

    .sort-select__option {
        @extend %flexCenter;
        height: 53px;
        border-radius: 5px;
        background-color: transparent;
        &:hover, &:active, &:focus  {
            background-color: rgba(32, 32, 35, 1);
        }
    }


}

.sort-select-countrie {
    width: fit-content;
    .sort-select-cnt {
        min-width: 146px;
        .sort-select__control{
            min-height: 43px ;
            border-radius: 10px;
        }
        .sort-select__option {
            height: 43px;
        }
    }
}

@media (max-width: 1439px) {
    .sort-select-cnt {
        min-width: 170px;

        .sort-select__control {
            min-height: 40px;
        }



        .sort-select__placeholder, .sort-select__option, .sort-select__single-value, .sort-select__input-container {
            font-size: 18px;
        }

        .sort-select__value-container {
            padding-left: 20px;
        }

        .sort-select__indicator {
            padding-right: 20px;
        }

        .sort-select__menu {
            background-color: rgba(6, 6, 7, 1);
            border-radius: 5px;
        }
        .sort-select__menu-list {
            padding: 5px;
        }

        .sort-select__option {
            height: 40px;
        }
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .sort-select-cnt {
        min-width: 140px;

        .sort-select__control {
            min-height: 33px;
        }

        .sortArrowCnt {
            position: relative;
            width: 12px;
            height: 12px;
            img {
                object-fit: contain;
            }
        }


        .sort-select__placeholder, .sort-select__option, .sort-select__single-value, .sort-select__input-container {
            font-size: 14px;
        }

        .sort-select__value-container {
            padding-left: 12px;
        }

        .sort-select__indicator {
            padding-right: 12px;
        }

        .sort-select__menu {
            border-radius: 5px;
            margin-top: 3px;
        }
        .sort-select__menu-list {
            padding: 3px;
        }

        .sort-select__option {
            height: 33px;
        }
    }
}
