%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exTabs * {
    outline: none;
}

.upgrades {
    @extend %flexCenter;
    max-width: 1800px;
    width: 100%;
    padding: 0px 30px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.ugdTitleBlock {
    margin-top: 26px;
    margin-bottom: 70px;
}

.exchangerBlock {
    @extend %flexCenter;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1580px;
    width: 100%;
    margin-bottom: 60px;
}

.clientExchanger {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.serverExchangerTop {
    justify-content: flex-end;
}

.exClientProp {
    @extend %flexCenter;
    justify-content: space-between;
    flex-direction: column;
    max-width: 450px;
    width: 100vw;
    height: 350px;
    position: relative;
    border-radius: 18px;
    padding: 2px;
    background: linear-gradient(180deg, rgba(255,143,45,0) 42%, rgba(255,143,45,0.5) 100%);
    overflow: hidden; /* обрезает псевдоэлемент */
}

.exStartBlockPadding {
    @extend %flexCenter;
    justify-content: space-between;
    flex-direction: column;
    padding: 65px 48px  58px 48px;
    position: relative;
    width: 100%;
    height: 100%;
}

.exClientProp::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-radius: 18px;
    padding: 2px; /* толщина рамки */
    background: linear-gradient(180deg, #FF8F2D 0%, rgba(255,143,45,0.3) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}

.exClientImgCnt{
    display: flex;
    justify-content: center;
}

.exClientImg {
    flex-shrink: 0;
}


.react-tabs__tab-panel--selected.exClientPropTab {
    max-width: 450px;
    height: 350px;
    width: 100%;
}

.exchangeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-headRegular);
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    line-height: 33px;
    text-align: center;
    width: fit-content;
}

.exClientSenceBlck {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    flex: 1;
}

.exClientMoney {
    padding: 38px 64px 20px 64px;
}

.clientBalance {
    font-family: var(--font-textBold);
    font-size: 20px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);
    min-width: fit-content;
}

.paymentSizeCnt {
    @extend %flexCenter;
    height: 44px;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 69px;
    width: fit-content;
}

.paymentSize {
    font-family: var(--font-textBold);
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    min-width: 4ch;
    // padding-top: 5px;
}

.paymentSize::placeholder {
    color: (255, 255, 255, 0.4);
}

.exchangeClientBalance {
    @extend %flexCenter;
    margin-top: 12px;
}

.exTabs {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 56px;
}


.exchangeTab {
    padding: 34px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exchangeTabText {
    font-family: var(--font-headRegular);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    writing-mode: vertical-rl; /* вертикальная печать справа налево */
    transform: rotate(180deg);
    margin-bottom: 17px;
    line-height: 16px;
}

.exchangeTab{
    @extend %flexCenter;
    flex-direction: column;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 20px;
    outline: none;
}

.exchangeTab::before {
    content: '';
    position: absolute;
    inset: 0; /* растянуть на весь блок */
    border-top-right-radius: 20px;
    padding: 1px; /* толщина рамки */
    background: linear-gradient(180deg, #FF8F2D 0%, rgba(255,143,45,0.3) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    border-collapse: collapse;
    mask-composite: exclude; /* создаёт рамку с градиентом и скруглёнными углами */
    pointer-events: none;
}

.exchangeTabCnt {
    opacity: 0.5;
}

.radiusClassTab {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
}

.radiusClassTab:before {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
}

.exTabs :global(.react-tabs__tab--selected) {
    & .exchangeTab {
        background: linear-gradient(90deg, rgba(255, 143, 45, 0) 0%, rgba(255, 143, 45, 0.5) 100%);
    }

    & .exchangeTabCnt {
        opacity: 1;
    }
}


.exchangerSpiner {
    @extend %flexCenter;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    svg {
        max-width: none;
    }

    .spinerText {
        font-family: var(--font-headBold);
        font-size: 32px;
        color: rgba(255, 255, 255, 1);
        .spinerText {
            font-family: var(--font-headRegular);
            font-size: 20px;
        }
    }
}

.serverExchanger {
    padding-top: 17px;
}


.exchangeTabServerText{
    font-family: var(--font-headRegular);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
}

.serverExchangeTab {
    padding: 0px;
    height: 44px;
    border-radius: 0px;
}

.serverExchangeTab {
    padding-left: 2px;
}


.exTabs :global(.react-tabs__tab--selected) {
    & .serverExchangeTab {
        background: linear-gradient(180deg, rgba(255, 143, 45, 0) 0%, rgba(255, 143, 45, 0.5) 100%);

    }

    & .serverExchangeTab {
        opacity: 1;
    }
}


.serverExchangeTab::before {
    padding-bottom: 2px;
    padding-left: 3px;
    border-top-right-radius: 0px;
    background: linear-gradient(270deg, rgba(255, 143, 45, 0.3) 0%, #FF8F2D 100%);
}

.exTabCnt:first-child {
    & .serverExchangeTab::before  {
        border-top-left-radius: 20px;
        padding-top: 3px;

    }
    & .serverExchangeTab  {
        border-top-left-radius: 20px;
    }
}

.exTabCnt:last-child {
    & .serverExchangeTab::before  {
        border-bottom-left-radius: 20px;
        padding-bottom: 3px;
    }
    & .serverExchangeTab  {
        border-bottom-left-radius: 20px;
    }
}

.propiety {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clientBlock {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 855px;
    width: 100%;
    padding: 30px 13px 30px 30px;
    background-color: rgba(255, 255, 255, 0.05);
    height: 967px;
    border-radius: 10px;
    flex: 1;
}

.exBlockTitleCnt {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.exBlockTitle {
    font-family: var(--font-headRegular);
    font-size: 36px;
    color: rgba(223, 223, 223, 1);
}

.exClientCnt {
    width: 100%;
}

.exClSort {
    width: fit-content;
    margin-top: 17px;
    margin-bottom: 25px;
}


.ExClientStuffs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr)); /* колонки растягиваются по ширине контейнера */
    grid-auto-rows: min-content; /* высота строк под контент */
    width: 100%;
    height: auto; /* или 100% родителя */
    overflow: auto;
    row-gap: 15px;
    padding-right: 10px;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 75, 75, 1) transparent;
}

// .ExClientStuffs {
//     display: flex;           // заменяем @extend %flexCenter
//     justify-content: space-between;
//     align-items: flex-start;
//     flex-wrap: wrap;
//     flex: 1;
//     width: 100%;
//     overflow: auto;
//     row-gap: 15px;
//     padding-right: 10px;
//     /* Firefox */
//     scrollbar-width: thin;
//     scrollbar-color: rgba(75, 75, 75, 1) transparent;
//     column-gap: 3px;
// }

// Chrome, Safari, Edge
.ExClientStuffs::-webkit-scrollbar {
  width: 5px;
}

.ExClientStuffs::-webkit-scrollbar-track {
  background: transparent;

}

.ExClientStuffs::-webkit-scrollbar-thumb {
  background: rgba(75, 75, 75, 1);
  border-radius: 10px;
}

.ExClientStuffs::-webkit-scrollbar-button {
  display: none;  // стрелки убираем
  width: 0;
  height: 0;
}

.serverExTitle {
    margin-bottom: 17px;
}

.exSearchBlock {
    @extend %flexCenter;
    height: 44px;
    padding: 0px 45px 0px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: fit-content;
    width: 146px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('/images/upgrade_search.svg');
        background-repeat: no-repeat;
        right: 20px;
    }
}

.serverInfoBlock {
    width: 100%;
    margin-bottom: 25px;
}

.exSearchInput {
  flex: 1;              /* займёт всю доступную ширину внутри flex */
  width: 100%;          /* вместо inherit */
  min-width: 0;         /* обязательно для flex, чтобы не вылазил */
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  outline: none;
}


.exSearchInput::placeholder {
    font-family: var(--font-textBold);
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.4);
}

.exServerSearch {
    @extend %flexCenter;
    justify-content: flex-start;
}

.exSearchBlock:first-child {
    margin-right: 30px;
}

.exSearchPrice.exSearchBlock {
    width: 109px;
    &::after {
        width: 15px;
        height: 15px;
        background-image: url('/images/upgrade_arrow.svg');
        right: 20px;
    }
}

.clientBlock:first-child {
    margin-right: 10px
}

.clientExchangerStyled {
    .exchangeTab::before {
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-collapse: collapse;
    }
    .exTabCnt .exchangeTab::before {
        padding-bottom: 0px;
    }
}

.mobileImgBlock {
    display: none;
}

.epTabList {
    @extend %flexCenter;
    margin-bottom: 20px
}
.epTab:focus-visible {
    outline: none
}
.epTab {
    @extend %flexCenter;
    font-family: var(--font-headBold);
    font-size: 22px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.4);
    border-collapse: collapse;
    border-width: 1px;
    border-color: rgba(229, 133, 0, 1);
    border-style: solid;
    height: 45px;
    min-width: 260px;
    padding-bottom: 4px;
}

.epTabList :global(.react-tabs__tab--selected) {
    background-color: rgba(229, 133, 0, 1);
    color: rgba(0, 0, 0, 1);
}

.epTab:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.epTab:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media (max-width: 1439px) {
    .exchangerBlock {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 50px;
    }
    .exchangerSpiner {
        order: 3;
    }
    .clientExchanger {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .serverExchanger {
        order: 2;
    }
    .exTabs {
       flex-direction: row;
       padding-top: 0px;
       width: auto;
       justify-content: center;
    }
    .exchangeTab {

        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        height: 42px;
    }
    .exchangeTab::before {
        padding: 3px;
        padding-top: 2px !important;
    }
    .exTabCnt:first-child .exchangeTab {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;

    }
    .exTabCnt:first-child .exchangeTab::before{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        padding-right: 0px;
        padding-bottom: 3px;
    }

    .exchangeTabCnt {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        img {
            transform: rotate(90deg);
        }
    }
    .exchangeTabImgCnt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exchangeTabText {
        writing-mode: horizontal-tb;
        transform: none;
        margin: 0px;
        margin-right: 10px;
        padding-bottom: 4px;
    }
    .exClientProp {
        margin-left: auto;
        margin-right: auto;
    }
    .ugdTitleBlock {
        margin-bottom: 50px;
    }

    .serverExchangerTop {
        .serverExchangeTab::before{
            background: linear-gradient(#ff8f2d 0%, rgba(255, 143, 45, .3) 100%);
        }
        .exTabCnt {
            & .serverExchangeTab::before  {
                padding-right: 0px;
                padding-top: 0px;

            }
            & .serverExchangeTab  {
                border-top-left-radius: 0px;
            }
        }


        .exTabCnt:first-child {
            & .serverExchangeTab::before  {
                border-top-left-radius: 0px;
                padding-top: 0px;

            }
            & .serverExchangeTab  {
                border-top-left-radius: 0px;
            }
        }

        .exTabCnt:last-child {
            & .serverExchangeTab::before  {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 20px;
                padding-top: 0px;
                padding-right: 3px;
            }
            & .serverExchangeTab  {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 20px;
            }
        }
        .exTabCnt:first-child {
            border-top-left-radius: 0px;
        }
        .exTabCnt:first-child .exchangeTab {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 0px;
        }
        .exTabCnt:first-child .exchangeTab::before{
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            padding-right: 0px;
            padding-bottom: 3px;
        }
    }
    .serverExchanger, .exTabsClient {
        margin-top: -2px;
    }
    :global(.epTab) {
        display: none !important;
    }

  /* показываем только выбранную панель с epTab */
    :global(.epTab.react-tabs__tab-panel--selected) {
        display: flex !important;
    }
    .upgrades .clientBlock {
        margin-right: 0px ;
    }
}



@media (max-width: 1024px) {
  /* скрываем все панели с epTab */

}
@media (max-width: 768px) {
    .exSearchBlock {
        max-width: 76px;
        height: 30px;
        padding: 0px 25px 0px 10px;
        border-radius: 5px;
    }
    .exSearchInput {
        font-size: 9px;

    }
    .serverExTitle {
        margin-bottom: 0px;
    }
    .serverInfoBlock {
        display: flex;
    }
    .upgrades {
        padding: 0 15px;
    }
    .ExClientStuffs {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* колонки растягиваются по ширине контейнера */
        gap: 3px;
        padding-right: 3px;
    }
    .exClSort {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .exClientBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .clientBlock {
        padding: 10px;
        max-width: 343px;
        height: 385px;
    }
    .exBlockTitle {
        font-size: 13px
    }
    .epTab {
        @extend %flexCenter;
        font-size: 14px;
        height: 29px;
        min-width: 171px;
        padding-bottom: 2px;
    }
    .mobileImgBlock {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .pcImgBlock {
        display: none;
    }
    .exClientProp {
        max-width: 343px;
        height: 186px;
    }
    .exStartBlockPadding, .exClientMoney {
        padding: 30px 44px;
    }
    .exchangeTitle {
        margin-top: 15px;
        font-size: 16px;
        line-height: 100%;
    }
    .exchangeTab {
        padding-left: 35px;
        padding-right: 35px;
        height: 35px;
    }
    .exchangeTabText {
        font-size: 13px;
        padding-bottom: 3px;
    }
    .clientBalance {
        font-size: 16px;
    }
    .paymentSize {
        font-size: 13px;
    }
    .paymentSizeCnt {
        height: 28px;
        padding: 0px 10px;
        min-width: 0px;
    }
    .serverExchangerTop {
        .exchangeTabServerText{
            font-size: 13px;
        }
        .serverExchangeTab {
            padding: 0px 11px !important;
        }
    }



}
